@use "sass:color";

$maintint: hsl(42deg, 5%, 50%);
$green: hsl(80deg, 64%, 50%);
$blue: hsl(214deg, 64%, 50%);

body.dark-mode {
  // main backgrounds
  $main-bg-color: color.change($maintint, $lightness: 5%);
  --main-bg-color: #{$main-bg-color};
  --panel-bg-color: #{color.change($maintint, $lightness: 10%)};
  --dropout-bg-color: #{color.change($maintint, $lightness: 20%)};

  // COMPONENTS

  // toggle colors
  --toggle-icon-color: rgba(255, 255, 255, 35%);
  --toggle-fg-enabled-color: #{color.change(
      $green,
      $lightness: 45%,
      $saturation: 40%
    )};
  --toggle-bg-enabled-color: #{color.change(
      $green,
      $lightness: 30%,
      $saturation: 30%
    )};
  --toggle-fg-disabled-color: rgba(255, 255, 255, 25%);
  --toggle-bg-disabled-color: rgba(255, 255, 255, 8%);

  // button colors
  $button-base-color: rgb(255, 255, 255);
  --button-fg-color: rgba(255, 255, 255, 35%);
  --button-bg-color: rgba(255, 255, 255, 8%);
  --button-bg-pressed-color: rgba(255, 255, 255, 15%);
  --button-bg-hover-color: rgba(255, 255, 255, 25%);
  --button-bg-selected-color: rgba(255, 255, 255, 70%);
  --button-fg-selected-color: rgba(255, 255, 255, 70%);
  --button-bg-color-on-main-bg: #{color.mix(
      $button-base-color,
      $main-bg-color,
      12%
    )};
  --button-bg-pressed-color-on-main-bg: #{color.mix(
      $button-base-color,
      $main-bg-color,
      24%
    )};
  --button-bg-hover-color-on-main-bg: #{color.mix(
      $button-base-color,
      $main-bg-color,
      32%
    )};

  // large play button in the setup screen
  --setup-play-button-bg-color: #{color.change($green, $lightness: 32%)};
  --setup-play-button-bg-disabled-color: hsl(0deg, 0, 15%);
  --setup-play-button-fg-color: #{color.change($green, $lightness: 95%)};
  --setup-play-button-fg-disabled-color: hsl(0deg, 0, 20%);

  // home button in the play screen
  --home-button-bg-color: #{color.change($blue, $lightness: 32%)};
  --home-button-fg-color: #{color.change($blue, $lightness: 97%)};
  --home-button-fg-hover-color: #{color.change($blue, $lightness: 97%)};

  // navbar
  --navbar-bg-color: #{color.mix($main-bg-color, #fff, 90%)};
  --navbar-bg-active-color: #{color.mix($main-bg-color, #fff, 80%)};
  --navbar-bg-hover-color: #{color.mix($main-bg-color, #fff, 85%)};

  // text-color
  --text-color: hsl(0, 0%, 50%);

  // link color
  --link-color: hsl(240, 50%, 70%);
  --link-hover-color: hsl(240, 85%, 90%);
  --link-tap-highlight-color: hsla(240, 50%, 70%, 20%);

  // SETUP SCREEN

  // settings menu options
  --settings-option-panel-bg-color: #{color.change($maintint, $lightness: 16%)};
  --settings-option-panel-bg-active-color: #{color.change(
      $maintint,
      $lightness: 23%
    )};
  --settings-option-panel-bg-hover-color: #{color.change(
      $maintint,
      $lightness: 23%
    )};
  --settings-option-panel-border-active-color: #{color.change(
      #66f,
      $lightness: 45%,
      $saturation: 40%
    )};

  // warning symbol for invalid grid in setup menu
  --invalid-grid-warning-color: #e06300;

  // GAME SCREEN

  // background behind buttons on top of grid
  --dropout-menu-bg-mask-color: #{color.change($main-bg-color, $alpha: 50%)};

  // score display in the tile stack
  --score-display-fg-color: #{color.change($green, $lightness: 40%)};
  --score-display-bg-color: #{color.change(
      $green,
      $lightness: 20%,
      $saturation: 30%
    )};

  // tile counter
  --tile-counter-text-color: var(--text-color);

  // placeholder tile colors
  --placeholder-fill-color: hsla(0deg, 0%, 23%, 0.5);
  --placeholder-stroke-color: hsl(0deg, 0%, 23%);

  // colors for ScoreOverlayDisplay_Cutout
  // - background of the outline, should match screen background
  --cutout-outline-bg-color: var(--main-bg-color);
  // - colored outline around the shape
  --cutout-outline-fg-color: hsl(80deg, 61%, 50%);
  // - points circle
  --cutout-circle-points-fill-color: hsl(80deg, 61%, 85%);
  --cutout-circle-points-stroke-color: hsl(80deg, 61%, 32%);

  // tile colors
  .svg-tile {
    filter: brightness(85%);
  }

  // PAINT SCREEN

  // active color swatch
  --swatch-selected-border-color: hsl(0, 0%, 100%);

  // MAIN SCREEN

  // main screen footer
  --footer-version-color: hsl(0, 0%, 25%);
  --footer-copyright-color: hsl(0, 0%, 50%);
  --footer-link-hover-color: hsl(0, 0%, 80%);

  // logo on main screen
  --logo-fill-color: hsl(0, 0%, 50%);
}
