@use "sass:color";

$maintint: hsl(42deg, 5%, 50%);
$green: hsl(80deg, 64%, 50%);
$blue: hsl(214deg, 64%, 50%);

:root {
  // main backgrounds
  $main-bg-color: color.change($maintint, $lightness: 87%);
  --main-bg-color: #{$main-bg-color};
  $panel-bg-color: color.change($maintint, $lightness: 70%, $saturation: 15%);
  --panel-bg-color: #{$panel-bg-color};
  --dropout-bg-color: #{color.change($maintint, $lightness: 95%)};

  // COMPONENTS

  // toggle colors
  --toggle-icon-color: rgba(0, 0, 0, 35%);
  --toggle-fg-enabled-color: #{color.change($green, $lightness: 32%)};
  --toggle-bg-enabled-color: #{color.change($green, $lightness: 85%)};
  --toggle-fg-disabled-color: rgba(0, 0, 0, 25%);
  --toggle-bg-disabled-color: rgba(0, 0, 0, 8%);
  --toggle-threeway-icon-enabled-color: var(--dropout-bg-color);

  // button colors
  --button-fg-color: #{color.change(
      $maintint,
      $lightness: 30%,
      $saturation: 25%,
      $alpha: 60%
    )};
  --button-bg-color: rgba(0, 0, 0, 8%);
  --button-bg-color: #{color.change(
      $maintint,
      $lightness: 30%,
      $saturation: 25%,
      $alpha: 12%
    )};
  --button-bg-pressed-color: #{color.change(
      $maintint,
      $lightness: 30%,
      $saturation: 25%,
      $alpha: 24%
    )};
  --button-bg-hover-color: #{color.change(
      $maintint,
      $lightness: 30%,
      $saturation: 25%,
      $alpha: 32%
    )};
  --button-bg-selected-color: #{color.change(
      $maintint,
      $lightness: 30%,
      $saturation: 25%,
      $alpha: 80%
    )};
  --button-fg-selected-color: #{color.change(
      $maintint,
      $lightness: 30%,
      $saturation: 25%,
      $alpha: 80%
    )};

  // large play button in the setup screen
  --setup-play-button-bg-color: #{color.change($green, $lightness: 32%)};
  --setup-play-button-bg-disabled-color: #{color.change(
      $maintint,
      $lightness: 30%,
      $saturation: 25%,
      $alpha: 12%
    )};
  --setup-play-button-fg-color: #{color.change($green, $lightness: 95%)};
  --setup-play-button-fg-disabled-color: rgba(255, 255, 255, 30%);

  // home button in the play screen
  --home-button-bg-color: #{color.change($blue, $lightness: 32%)};
  --home-button-fg-color: #{color.change($blue, $lightness: 97%)};
  --home-button-fg-hover-color: #{color.change($blue, $lightness: 97%)};

  // navbar
  --navbar-bg-color: #{color.mix(
      $main-bg-color,
      color.change($maintint, $lightness: 30%, $saturation: 25%),
      88%
    )};
  --navbar-bg-active-color: #{color.change($maintint, $lightness: 87%)};
  --navbar-bg-hover-color: #{color.change($maintint, $lightness: 87%)};

  // shadows
  --button-box-shadow:
    0 3px 6px rgba(0, 0, 0, 0.08), 0 3px 6px rgba(0, 0, 0, 0.12);
  --dropdown-box-shadow:
    0 10px 20px rgba(0, 0, 0, 0.08), 0 10px 20px rgba(0, 0, 0, 0.12);
  --screen-box-shadow: inset 0 0 40px rgb(0 0 0 / 20%);

  // text-color
  --text-color: hsl(0, 0%, 0%);

  // link color
  --link-color: hsl(240, 70%, 50%);
  --link-hover-color: hsl(240, 70%, 20%);

  // SETUP SCREEN

  // settings menu options
  --settings-option-panel-bg-color: #{color.change($maintint, $lightness: 80%)};
  --settings-option-panel-bg-active-color: #{color.change(
      $maintint,
      $lightness: 91%
    )};
  --settings-option-panel-bg-hover-color: #{color.change(
      $maintint,
      $lightness: 87%
    )};
  --settings-option-panel-border-active-color: #{color.change(
      #66f,
      $lightness: 80%
    )};

  // warning symbol for invalid grid in setup menu
  --invalid-grid-warning-color: #e06300;
  --undefined-tile-color: hsl(0deg, 0%, 50%);

  // GAME SCREEN

  // score display in the tile stack
  --score-display-fg-color: #{color.change($green, $lightness: 32%)};
  --score-display-bg-color: #{color.change($green, $lightness: 85%)};

  // tile counter
  --tile-counter-text-color: #{color.mix($panel-bg-color, #000, 70%)};

  // placeholder tile colors
  --placeholder-fill-color: hsla(0deg, 0%, 77%, 0.5);
  --placeholder-stroke-color: hsl(0deg, 0%, 77%);

  // colors for ScoreOverlayDisplay_Cutout
  // - background of the outline, should match screen background
  --cutout-outline-bg-color: var(--main-bg-color);
  // - colored outline around the shape
  --cutout-outline-fg-color: hsl(80deg, 61%, 50%);
  // - points circle
  --cutout-circle-points-fill-color: hsl(80deg, 61%, 85%);
  --cutout-circle-points-stroke-color: hsl(80deg, 61%, 32%);

  // PAINT SCREEN

  // active color swatch
  --swatch-selected-border-color: var(--main-bg-color);

  // MAIN SCREEN

  // main screen footer
  --footer-version-color: #aaa;
  --footer-copyright-color: #777;
  --footer-link-hover-color: #000;

  // logo on main screen
  --logo-fill-color: var(--button-fg-color); // rgba(0, 0, 0, 35%);
}
