@use "./sizes.scss";

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 10px calc(10px + sizes.$inset-right) calc(10px + sizes.$inset-bottom)
    calc(10px + sizes.$inset-left);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  color: var(--footer-version-color);
  font-size: 12px;

  p {
    color: var(--footer-version-color);
    margin: 0;
    padding: 0;
  }

  p.copyright,
  a {
    color: var(--footer-copyright-color);
  }

  @media screen and (min-aspect-ratio: 5 / 3) {
    p br {
      display: none;
    }
  }

  a {
    text-decoration: none;
    border-bottom: 1px solid;
  }

  a:active,
  a:hover {
    color: var(--footer-link-hover-color);
  }
}

.screen {
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  height: 100%;
  width: 100%;
  box-shadow: inset 0 0 40px rgb(0 0 0 / 20%);
  background: var(--main-bg-color);

  transition: background-color 50ms;

  animation-name: animate-appear;
  animation-delay: 100ms;
  animation-duration: 500ms;
  animation-fill-mode: backwards;

  &.disappear {
    animation-name: animate-disappear;
    animation-delay: 100ms;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
  }
}

@keyframes animate-appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}
@keyframes animate-disappear {
  0% {
    opacity: 100;
  }
  100% {
    opacity: 0;
  }
}

.game-button {
  width: calc(0.5 * sizes.$button-scale);
  height: calc(0.5 * sizes.$button-scale);
  padding: calc(0.25 * sizes.$button-scale);
  cursor: pointer;
  border-radius: 100%;

  transform: scale(1);
  transition-property: transform;
  transition-duration: 100ms;
  fill: var(--button-fg-color);
  background: var(--button-bg-color);

  &.game-button-pressed {
    background: var(--button-bg-pressed-color);
  }

  svg {
    width: 100%;
    aspect-ratio: 1 / 1;
  }

  @media (hover) {
    &:hover {
      background: var(--button-bg-hover-color);
    }
  }
}

.game-toggle {
  display: flex;
  align-items: center;
  cursor: pointer;

  .icon {
    margin-left: 0.7vw;
    width: calc(0.425 * sizes.$button-scale);
    height: calc(0.425 * sizes.$button-scale);
    fill: var(--toggle-icon-color);

    svg {
      width: 100%;
      aspect-ratio: 1 / 1;
    }
  }

  .toggle-box {
    flex-grow: 1;
    border-radius: sizes.$button-scale;
    padding: max(0.3vw, 4px);
    background: var(--toggle-bg-disabled-color);
    display: flex;
    flex-direction: row;
  }

  &.threeway .wrap {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    border-radius: sizes.$button-scale;
    background: var(--toggle-bg-disabled-color);
    .toggle-box {
      background: transparent;
    }
  }
  &.threeway .toggle-box.a {
    justify-content: flex-start;
    background: transparent;
  }
  &.threeway .toggle-box.b {
    justify-content: flex-end;
    background: transparent;
  }

  .toggle-ball {
    border-radius: 100%;
    width: calc(0.425 * sizes.$button-scale);
    height: calc(0.425 * sizes.$button-scale);
    background: var(--toggle-fg-disabled-color);
  }

  .toggle-ball-icon {
    width: calc(0.425 * sizes.$button-scale - max(0.3vw, 4px));
    height: calc(0.425 * sizes.$button-scale - max(0.3vw, 4px));
    fill: var(--toggle-icon-color);
    border-radius: 100%;
    padding: max(0.3vw, 4px);

    svg {
      width: 100%;
      aspect-ratio: 1 / 1;
    }
  }

  &.enabled {
    .toggle-box {
      justify-content: flex-end;
      background: var(--toggle-bg-enabled-color);
    }
    .toggle-ball {
      background: var(--toggle-fg-enabled-color);
    }
  }

  &.threeway.a .toggle-box.a,
  &.threeway.b .toggle-box.b {
    flex-grow: 1;
    flex-shrink: 0;
    background: var(--toggle-bg-enabled-color);
  }
  &.threeway.a .toggle-box.b,
  &.threeway.b .toggle-box.a {
    flex-grow: 0;
    flex-shrink: 1;
  }
  &.threeway.a .toggle-box.a .toggle-ball-icon,
  &.threeway.b .toggle-box.b .toggle-ball-icon {
    fill: var(--toggle-threeway-icon-enabled-color);
    background: var(--toggle-fg-enabled-color);
  }
}
