@use "./colors.scss";

.screen.game-display {
  display: grid;
  grid-template-columns: 1fr calc(2 * (colors.$button-scale) + 6vw);
  grid-template-rows: 2fr min-content 2fr;
  grid-template-areas:
    "main-grid fill"
    "main-grid tile-stack"
    "main-grid counters";

  .main-grid {
    grid-area: main-grid;
  }

  .controls {
    grid-area: controls;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #bbb;
    text-align: center;
    z-index: 1000;

    .buttons {
      order: 1;
      margin: 0 10px;
      display: flex;
      flex-direction: row;
    }
    .toggles {
      order: 2;
      margin: 10px 10px;
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
  }

  .fill {
    grid-area: fill;
    background: #bbb;
  }

  .tile-stack {
    grid-area: tile-stack;
    background: #bbb;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .tile-counter-and-score {
    grid-area: counters;
    background: #bbb;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
  }
}

.dropout-menu {
  position: absolute;
  right: 3vw;
  top: 3vw;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  border-radius: (colors.$button-scale);
  z-index: 10000;

  margin: -1vw;

  &.expanded {
    background: #f6f6f6;

    .game-button.dropout svg {
      rotate: 90deg;
    }
  }

  $margin: calc(0.4 * colors.$button-scale);

  .game-button.dropout {
    margin: $margin $margin 0 0;
  }

  .game-button.dropout svg {
    transition: rotate 0.1s;
  }

  .items {
    display: none;
    margin: 1vw 0.5vw 1.5vw 0.5vw;
    margin: $margin calc(0.5 * $margin) calc(1.5 * $margin) calc(0.5 * $margin);
    grid-template-columns: auto auto auto auto auto auto;
  }

  .items .game-button {
    grid-row: 1;
    grid-column: span 2;
    margin: 0 calc(0.5 * $margin) $margin $margin;

    transition: scale 0.1s;

    &.game-button-pressed,
    &:hover {
      scale: 1.05;
    }
  }
  .items .game-button + .game-button {
    margin-left: 0.5vw;
  }

  .items .game-toggle {
    grid-column: span 3;
    margin: 0 0 calc(0.3 * colors.$button-scale) 0;
    padding: 0 calc(0.3 * colors.$button-scale);
  }

  .items,
  .game-button + .game-toggle,
  .game-button + .game-toggle + .game-toggle {
    border-top: 1px solid #ddd;
    padding-top: $margin;
  }

  .game-button.backtomenu {
    background: #e1f0c1;
    background: #bdcfe6;
    background: #1d4a85;
    fill: #fff;
  }

  /*
  .game-button.restart {
    background: #63851d;
    fill: #fff;
  }
  */

  &.expanded {
    .items {
      display: grid;
    }
  }

  .game-finished & {
    .game-toggle {
      display: none;
    }

    .game-button.dropout {
      display: none;
    }

    .items {
      display: flex;
      flex-direction: column;
      margin: 1vw;
      padding: 0;
      border-top: none;
    }

    .game-button {
      margin: 0 0 1.5vw;
    }

    .game-button.setup {
      display: none;
    }

    .game-button + .game-button {
      margin-left: 0;
    }
  }
}

.tile-stack {
  .grid-display {
    z-index: 1000;
  }
  .tile-outline {
    stroke: #ddd;
  }
}

.tile-on-stack {
  z-index: 0;
  position: relative;
  aspect-ratio: 1/1;

  max-height: 18vh;

  cursor: grab;

  transition-property: scale;
  transition-duration: 100ms;
  svg {
    width: 100%;
    aspect-ratio: 1/1;
  }
  &.tile-dragging {
    cursor: grabbing;
  }
  &.tile-dragging,
  &.tile-drag-return {
    z-index: 100;
  }
}

.rotatable {
  position: relative;
  width: 100%;
  height: 100%;
  &.animated {
    transition: rotate 300ms ease;
  }
}
.rotatable-dragging.animated {
  transition: rotate 200ms;
}
.rotatable-drag-return.animated {
  z-index: 100;
  transition-property: translate, scale, rotate;
  transition-duration: 150ms;
}
.rotatable-drag-success.animated {
  transition-property: none;
}

.tile-counter {
  font-size: 1.5vw;
  flex-grow: 2;
  cursor: pointer;

  @media screen and (max-aspect-ratio: 1.5) {
    span {
      display: block;
      margin: 1em auto;
      width: 4em;
      box-sizing: border-box;
      border: 1px solid #999;
      color: #777;
      border-radius: 0.5vw;
      padding: 1.2em 0;
      aspect-ratio: 1;
    }
  }
}

.score-display .score {
  flex-grow: 1;
  margin: 10% 10% 3vw 10%;
  box-sizing: border-box;
  padding: 4% 0 7% 0;
  border-radius: 2vw;
  border: 3px solid #63851d;
  background: #e1f0c1;
  color: #63851d;
  opacity: 0.5;
  font-size: min(4vw, 5vh);
  text-align: center;

  &.animate {
    animation-name: score-display-anim;
    animation-duration: 1000ms;
  }

  p {
    margin: 0;
    padding: 0;
  }
}
@keyframes score-display-anim {
  0% {
    opacity: 0.5;
    transform: scale(1);
  }
  50% {
    opacity: 1;
    transform: scale(1.1);
  }
  100% {
    opacity: 0.5;
    transform: scale(1);
  }
}

@media screen and (orientation: portrait) {
  .screen.game-display {
    display: grid;
    grid-template-columns: 5vw 60vw 1fr;
    grid-template-rows: 1fr max(20vw, 40px);
    grid-template-areas:
      "main-grid main-grid main-grid"
      "fill tile-stack counters";

    .tile-stack {
      flex-direction: row;
      justify-content: center;
    }

    .tile-counter-and-score {
      flex-direction: row;
      align-items: center;
    }

    .tile-counter {
      font-size: 2.5vw;
    }

    .score-display {
      padding-right: 15%;
    }

    .score-display .score {
      margin: 0;
      border-radius: 2vw;
      font-size: 7vw;
      width: 15vw;
    }
  }

  .tile-on-stack {
    max-height: 100%;
    height: 100%;
    max-width: 25vw;
  }
}
