@use "./sizes.scss";

$logo-height: min(15vw, 10vh);

.screen.main-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  .container {
    flex-shrink: 1;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    justify-items: center;
    align-content: center;
    width: 100%;
    height: 100%;
    max-width: 100vw;
    max-height: 100vh;
    padding: calc(
        max(sizes.$button-top, sizes.$button-bottom) + sizes.$button-scale
      )
      0;
    box-sizing: border-box;
    display: grid;
    grid-template:
      "spacer" 0.75fr
      "example-grid" max-content
      "logo" 1fr / 1fr;
  }

  .logo {
    grid-area: logo;
    display: flex;
    align-items: start;
    align-self: start;
    justify-content: center;
    padding-top: 5vh;
    width: 100%;

    svg {
      height: $logo-height;
      fill: var(--logo-fill-color);
    }
  }

  .button-setup-menu {
    position: absolute;
    top: sizes.$button-top;
    right: sizes.$button-right;
  }

  .button-paint-menu {
    position: absolute;
    top: sizes.$button-top;
    right: calc(1.25 * sizes.$button-scale + sizes.$button-right);
  }

  .game-list {
    grid-area: example-grid;
    justify-self: stretch;
    display: grid;
    max-height: min(100vh, 100vw, 60vh);
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: min(4vh, 4vw);
    row-gap: min(4vw, 4vh);
    padding: 0% calc(10% + sizes.$inset-right) 0 calc(10% + sizes.$inset-left);
    box-sizing: border-box;

    .example-tile {
      position: relative;
      cursor: pointer;
      transform: scale(1);
      transition-property: transform;
      transition-duration: 100ms;
      aspect-ratio: 1 / 1;
      min-width: 0;
      min-height: 0;
      max-width: min(60vh, 40vw);
      max-height: 60vh;
      &.game-button-pressed,
      &:hover {
        transform: scale(1.1);
      }
    }
  }

  @media screen and (max-aspect-ratio: 5 / 3) {
    .game-list {
      justify-self: auto;
      padding: 0;
      height: calc(min(65vh - sizes.$button-top - sizes.$button-bottom, 85vw));
      max-height: calc(65vh - sizes.$button-top - sizes.$button-bottom);
      max-width: min(
        100vh,
        100vw,
        calc(65vh - sizes.$button-top - sizes.$button-bottom)
      );
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
    }
  }
}
