@use "./colors.scss";

.screen.game-setup {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: colors.$panel-bg;
  overflow: hidden;
  box-shadow: inset 0 0 40px rgb(0 0 0 / 20%);
  display: grid;
  grid-template-areas: "example settings";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

.screen.game-setup .example-grid {
  position: relative;
  grid-area: example;
  background: colors.$main-bg;
}

.invalid-grid-warning {
  position: absolute;
  top: 3vw;
  left: 3vw;
  top: calc(50% - 0.75 * colors.$button-scale);
  left: calc(50% - 0.75 * colors.$button-scale);

  svg {
    width: calc(1.5 * colors.$button-scale);
    height: calc(1.5 * colors.$button-scale);
    fill: #e06300;
    vector-effect: non-scaling-stroke;
  }

  opacity: 0;
  transition: opacity 0.1s;
}
.invalid-grid-warning-active {
  opacity: 1;
  transition: opacity 0.5s;
}

.screen.game-setup .game-button.exit {
  position: absolute;
  right: 3vw;
  top: 3vw;
}

.screen.game-setup .game-button.regenerate {
  position: absolute;
  left: 3vw;
  bottom: 3vw;
}

.screen.game-setup .button-row {
  position: relative;
  grid-area: buttons;
  text-align: center;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.screen.game-setup .game-button.play {
  width: min(8vw, 13vh);
  height: min(8vw, 13vh);
  padding: 10px;
  margin: 0 min(3vw, 3vh) 0 0;
  border-radius: 100%;
  background: colors.$setup-play-button-bg;
  text-align: center;
  transition: transform 0.1s;
}
.screen.game-setup .game-button.play.disabled {
  background: colors.$setup-play-button-bg-disabled;
  svg {
    fill: rgba(255, 255, 255, 30%);
  }
}
.screen.game-setup .game-button.play svg {
  display: inline-block;
  fill: colors.$setup-play-button-fg;
  margin: 16% 0 0 9%;
  width: 65%;
  height: 65%;
}
@media (hover) {
  .screen.game-setup .game-button.play:hover {
    transform: scale(1.1);
  }
  .screen.game-setup .game-button.play.disabled:hover {
    transform: none;
  }
  .screen.game-setup .game-button.play.disabled:hover svg,
  .screen.game-setup .game-button.play.disabled svg:hover {
    fill: #ccc;
  }
}

.screen.game-setup .settings {
  position: relative;
  grid-area: settings;
  display: grid;
  grid-template-areas:
    "atlas atlas colors colors"
    "segments segments segments segments"
    "rules scorer scorer buttons";
  grid-template-columns: min-content min-content min-content 1fr;
  grid-template-rows: min-content min-content min-content;
  justify-content: center;
  align-content: center;
}
.screen.game-setup .setting-row {
  display: grid;
  grid-template-columns: min-content min-content min-content;
  grid-template-rows: min-content min-content min-content min-content;
  padding: min(8vw, 2vh);
}
.screen.game-setup .setting-row.atlas {
  grid-area: atlas;
}
.screen.game-setup .setting-row.colors {
  grid-area: colors;
  grid-template-columns: min-content min-content;
}
.screen.game-setup .setting-row.segments {
  grid-area: segments;
  grid-template-columns: repeat(5, min-content min-content min-content);
}
.screen.game-setup .setting-row.rules {
  grid-area: rules;
  grid-template-columns: min-content;
}
.screen.game-setup .setting-row.scorer {
  grid-area: scorer;
  grid-template-columns: min-content min-content min-content;
}
.screen.game-setup .setting-row:last-child {
  border-bottom: none;
}
.screen.game-setup .setting-row-option {
  margin: 0.4vw;
  width: min(calc(min(37vw) / 5), calc(min(50vh) / 5));
  height: min(calc(min(37vw) / 5), calc(min(50vh) / 5));
  background: colors.$settings-option-panel-bg;
  border: 3px solid transparent;
  border-radius: 0.7vw;
  box-sizing: border-box;
  aspect-ratio: 1;
  cursor: pointer;
  transition: transform 0.1s;
}
.screen.game-setup .wrap-grid {
  width: 76%;
  height: 76%;
  margin: 12%;
}
.screen.game-setup .setting-row-option.selected {
  transform: scale(1.1);
}
.screen.game-setup .setting-row-option.selected,
.screen.game-setup .setting-row-option.selected:hover {
  border: 3px solid #66f;
  background: colors.$settings-option-panel-bg-active;
}
@media (hover) {
  .screen.game-setup .setting-row-option:hover {
    background: colors.$settings-option-panel-bg-hover;
  }
}
.screen.game-setup .settings .palette {
  padding: 11%;
}

@media screen and (min-aspect-ratio: 0.8) and (max-aspect-ratio: 1.1) {
  .screen.game-setup .setting-row-option {
    width: min(calc(min(42vw) / 5), calc(min(50vh) / 5));
    height: min(calc(min(42vw) / 5), calc(min(50vh) / 5));
  }
}

@media screen and (max-aspect-ratio: 0.8) {
  .screen.game-setup {
    grid-template-areas:
      "example"
      "settings";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr min-content;
    justify-content: center;
  }
  .screen.game-setup .settings {
    grid-template-areas:
      "atlas atlas colors colors"
      "segments segments segments segments"
      "rules scorer scorer buttons";
    grid-template-columns: min-content min-content min-content min-content;
    grid-template-rows: min-content min-content min-content;
    margin: 2vh 0 2vh 1vw;
  }
  .screen.game-setup .settings .button-row {
    margin-left: calc(0.5 * colors.$button-scale);
    align-items: center;
  }
  .screen.game-setup .setting-row {
    padding: 3vw;
  }
  .screen.game-setup .setting-row-option {
    width: calc(55vw / 5);
    height: calc(55vw / 5);
  }
  .screen.game-setup .game-button.play {
    width: min(12vw, 13vh);
    height: min(12vw, 13vh);
  }
}
