// svg scale factor (see corresponding parameter in the TS source)
$svg-scale: 100;

// base font size
$font-size: clamp(16px, min(2.5vw, 2.5vh), 24px);

// size of the buttons (height and width including padding)
$button-scale: min(16vw, 15vh, max(5vw, 7vh, 40px));

// space around the button
$button-margin-width: calc(0.6 * $button-scale);
$button-margin-height: calc(0.6 * $button-scale);

// safe area inset margins
$inset-top: var(--safe-area-max-inset-top);
$inset-right: var(--safe-area-max-inset-right);
// at the bottom we'll make some extra space to safely drag the tiles
$inset-bottom: calc(1.5 * var(--safe-area-max-inset-bottom));
$inset-left: var(--safe-area-max-inset-left);

// margin to keep the stack away from the edge
$stack-margin-top: 0px;
$stack-margin-right: 0px; // calc(max(15vw - 20vh, 0px));
$stack-margin-bottom: 0px; // calc(max(4vh - 4vw, 0px));
$stack-margin-left: 0px;

// width/height of the tile stack
$stack-width: calc($button-scale + 2 * $button-margin-width);
$stack-height: max(20vw, 40px);

// button position relative to the page
$button-top: max(calc($button-margin-height + $stack-margin-top), $inset-top);
$button-right: max(
  calc($button-margin-width + $stack-margin-right),
  $inset-right
);
$button-bottom: max(
  calc($button-margin-height + $stack-margin-bottom),
  $inset-bottom
);
$button-left: max(calc($button-margin-width + $stack-margin-left), $inset-left);

// size of the main navbar
$main-navbar-height: calc(1.25 * $button-scale);
$main-navbar-bottom: $button-bottom;
$main-navbar-top: calc($button-bottom + $main-navbar-height);

:root {
  --button-scale: #{$button-scale};
}

// safe areas
:root {
  --safe-area-max-inset-top: env(
    safe-area-max-inset-top,
    env(safe-area-inset-top, 36px)
  );
  --safe-area-max-inset-right: env(
    safe-area-max-inset-right,
    env(safe-area-inset-right, 36px)
  );
  --safe-area-max-inset-bottom: env(
    safe-area-max-inset-bottom,
    env(safe-area-inset-bottom, 36px)
  );
  --safe-area-max-inset-left: env(
    safe-area-max-inset-left,
    env(safe-area-inset-left, 36px)
  );
}

// debugging CSS: add div elements to show safe area
.safe-inset-top,
.safe-inset-bottom {
  background: #f00a;
  z-index: 1000;
  position: absolute;
  left: $inset-left;
  width: calc(100vw - $inset-left - $inset-right);
  box-sizing: border-box;
}
.safe-inset-top {
  top: 0;
  height: $inset-top;
}
.safe-inset-bottom {
  bottom: 0;
  height: $inset-bottom;
}

/* settings in the setup menu */
$setting-row-option-scale: max(
  min(
    calc(min(48vw - $button-right) / 10),
    calc(min(80vh - $inset-top - $inset-bottom) / 11)
  ),
  2rem
);

$setting-row-option-height: max(
  $setting-row-option-scale,
  calc(3.5 * $font-size)
);

/* disable selection */
@mixin disable-select {
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  touch-action: none;
}
