<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/mootools/1.4.5/mootools-yui-compressed.js"></script>
    <script src="/mootools-more-1.4.0.1.js"></script>
    <title>Game</title>
  </head>
  {% if network %}
  <body class="network">
  {% else %}
  <body>
  {% endif %}
    <p id="back-link-p"><a href="/">Back</a></p>

    <script type="text/javascript">var exports = {};</script>
    <script type="text/javascript" src="/game.js"></script>
    <script type="text/javascript" src="/script.js"></script>

    {% if network %}
      <script src="/socket.io/socket.io.js"></script>
      <script type="text/javascript">
        window.socketIO = true;
        window.gameID = '{{ game_id }}';
        window.playerID = '{{ player_id }}';
      </script>
    {% endif %}
  </body>
</html>

