@use "../sizes.scss";

.screen.game-setup {
  @include sizes.disable-select;

  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--panel-bg-color);
  overflow: hidden;
  box-shadow: var(--screen-box-shadow);
  display: grid;
  grid-template-areas: "example heading" "example settings";
  grid-template-columns: 1fr 1fr;
  grid-template-rows:
    calc(sizes.$button-top + sizes.$button-scale + 1.2rem)
    1fr;
}

.screen.game-setup h2 {
  grid-area: heading;
  margin: 0.6rem calc(min(3vw, 2vh) + 0.1 * sizes.$setting-row-option-scale);
  padding: 0;
  font-weight: normal;
  font-size: 2rem;
  align-self: flex-end;
}

.screen.game-setup .example-grid {
  position: relative;
  grid-area: example;
  background: var(--main-bg-color);
  box-shadow: var(--screen-box-shadow);
}

.invalid-grid-warning {
  position: absolute;
  top: 3vw;
  left: 3vw;
  top: calc(50% - 0.75 * sizes.$button-scale);
  left: calc(50% - 0.75 * sizes.$button-scale);

  svg {
    width: calc(1.5 * sizes.$button-scale);
    height: calc(1.5 * sizes.$button-scale);
    fill: var(--invalid-grid-warning-color);
    vector-effect: non-scaling-stroke;
  }

  opacity: 0;
  transition: opacity 0.1s;
}
.invalid-grid-warning-active {
  opacity: 1;
  transition: opacity 0.5s;
}

.screen.game-setup .game-button.exit {
  position: absolute;
  left: sizes.$button-left;
  top: sizes.$button-top;
  margin: calc(-0.25 * sizes.$button-scale);
  padding: calc(0.25 * sizes.$button-scale);
}

.screen.game-setup .game-button.regenerate {
  position: absolute;
  left: sizes.$button-left;
  bottom: sizes.$button-margin-height;
  margin: calc(-0.25 * sizes.$button-scale);
  padding: calc(0.25 * sizes.$button-scale);
}

.screen.game-setup .buttons {
  grid-row: span 2;
  align-self: center;
  justify-self: center;
}
.screen.game-setup .game-button.play .bg {
  width: min(12vh, max(10vw, 10vh));
  height: min(12vh, max(10vw, 10vh));
  padding: 10px;
  border-radius: 100%;
  background: var(--setup-play-button-bg-color);
  box-shadow: var(--button-box-shadow);
  text-align: center;
  transition: transform 0.1s;
}
.screen.game-setup .game-button.play.disabled .bg {
  background: var(--setup-play-button-bg-disabled-color);
  svg {
    fill: var(--setup-play-button-fg-disabled-color);
  }
}
.screen.game-setup .game-button.play .bg svg {
  display: inline-block;
  fill: var(--setup-play-button-fg-color);
  margin: 16% 0 0 9%;
  width: 65%;
  height: 65%;
}
@media (hover) {
  .screen.game-setup .game-button.play:hover {
    transform: scale(1.1);
  }
  .screen.game-setup .game-button.play.disabled:hover {
    transform: none;
  }
}

.screen.game-setup {
  .settings {
    position: relative;
    grid-area: settings;
    padding-right: calc(
      2 * min(3vw, 2vh) + sizes.$stack-margin-right + sizes.$inset-right
    );
    padding-bottom: calc(sizes.$stack-margin-bottom + sizes.$inset-bottom);
    padding-left: min(3vw, 2vh);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content min-content min-content 1fr;
    column-gap: min(3vw, 2vh);
    align-content: flex-start;
  }

  .setting-row {
    position: relative;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    margin: 0.6rem 0;
  }
  .setting-row h3 {
    font-size: 1.2rem;
    font-weight: normal;
    margin: 0 0 0.6rem calc(0.1 * sizes.$setting-row-option-scale);
    padding: 0;
  }

  .setting-row:nth-child(even) .dropdown-wrap {
    right: 0;
  }
  @media screen and (min-aspect-ratio: 4 / 5) and (max-aspect-ratio: 8 / 5) {
    .setting-row:nth-child(even) {
      .dropdown-wrap {
        width: 100%;
      }
      .dropdown {
        grid-template-columns: 1fr;
      }
    }
  }

  @media screen and (max-height: 550px) and (min-aspect-ratio: 8 / 5) {
    .setting-row h3 {
      display: none;
    }
    .setting-row-option {
      min-height: min-content;
    }
  }
  @media screen and (max-height: 500px) and (min-aspect-ratio: 8 / 5) {
    .settings {
      width: 65vw;
    }
  }
  circle.checkmark {
    fill: var(--cutout-circle-points-fill-color);
    stroke: var(--cutout-circle-points-stroke-color);
  }

  path.checkmark {
    fill: var(--cutout-circle-points-stroke-color);
  }
}

@media screen and (max-aspect-ratio: 4 / 5) {
  .screen.game-setup {
    grid-template-areas:
      "example"
      "heading"
      "settings";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr min-content min-content;
    justify-content: center;
    align-content: flex-start;
  }

  .screen.game-setup h2 {
    margin: 1.2rem calc(min(3vw, 2vh) + 0.1 * sizes.$setting-row-option-scale);
  }

  .screen.game-setup .settings {
    min-height: max(40vh, calc(8 * sizes.$setting-row-option-height));
    padding-left: calc(
      min(3vw, 3vh) + sizes.$stack-margin-left + sizes.$inset-left
    );
    padding-right: calc(
      min(3vw, 3vh) + sizes.$stack-margin-right + sizes.$inset-right
    );
  }

  .screen.game-setup .game-button.play .bg {
    width: min(15vw, max(10vw, 10vh));
    height: min(15vw, max(10vw, 10vh));
  }
}

@media screen and (max-width: 400px) and (min-aspect-ratio: 3 / 7) and (max-aspect-ratio: 8 / 10) {
  .screen.game-setup h2 {
    display: none;
  }
  .screen.game-setup .settings {
    min-height: max(30vh, calc(7 * sizes.$setting-row-option-height));
  }
}
