@use "../sizes.scss";

.screen.main-menu {
  @include sizes.disable-select;

  display: grid;
  grid-template-rows: minmax(min-content, 3fr) min-content minmax(
      min-content,
      4fr
    );
  grid-template-areas: "header" "atlas-picker-grid" "logo";

  $logo-height: max(min(12vw, 12vh), sizes.$button-scale);

  .atlas-picker-grid {
    grid-area: atlas-picker-grid;
    --grid-columns: 2;
    --grid-rows: 2;
    --grid-margin-height: (15vh + #{$logo-height});
    --grid-margin-width: 2vh;
  }

  @media screen and (min-aspect-ratio: 10 / 7) {
    .atlas-picker-grid {
      --grid-columns: 4;
      --grid-rows: 1;
      --grid-margin-width: 3vh;
    }
  }

  .logo {
    grid-area: logo;

    display: flex;
    align-items: start;
    align-self: start;
    justify-content: center;
    width: 100%;
    padding: calc(0.15 * $logo-height) 0 calc(0.4 * $logo-height) 0;
    padding-top: 0;

    svg {
      height: $logo-height;
      padding-right: calc(0.15 * $logo-height);
      fill: var(--logo-fill-color);
    }
  }

  .header {
    grid-area: header;

    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: flex-start;
    align-items: flex-start;
    color: var(--footer-version-color);
    font-size: 1rem;
    padding-top: calc(var(--safe-area-max-inset-top) + 1rem);

    p {
      color: var(--footer-version-color);
      margin: 0;
      padding: 0;
    }

    p.copyright,
    a {
      color: var(--footer-copyright-color);
    }

    a {
      text-decoration: none;
    }

    a:active,
    a:hover {
      color: var(--footer-link-hover-color);
    }
  }

  .appear-initial & {
    .atlas-picker-option {
      animation-duration: 300ms;
      animation-delay: 50ms;
    }
    .atlas-picker-option:nth-child(1) {
      animation-name: example-tile-appear-right-down;
    }

    .atlas-picker-option:nth-child(2) {
      animation-name: example-tile-appear-left-down;
    }

    .atlas-picker-option:nth-child(3) {
      animation-name: example-tile-appear-right-up;
    }
    .atlas-picker-option:nth-child(4) {
      animation-name: example-tile-appear-left-up;
    }

    @media screen and (min-aspect-ratio: 10 / 7) {
      .atlas-picker-option:nth-child(1),
      .atlas-picker-option:nth-child(2) {
        animation-name: example-tile-appear-right-0;
      }

      .atlas-picker-option:nth-child(3),
      .atlas-picker-option:nth-child(4) {
        animation-name: example-tile-appear-left-0;
      }

      .atlas-picker-option:nth-child(2),
      .atlas-picker-option:nth-child(3) {
        animation-duration: 200ms;
      }
    }

    .logo {
      animation: example-tile-appear-bottom 300ms;
    }
  }
}

.screen.all-games {
  .appear-initial & {
    .atlas-picker-option {
      animation-duration: 300ms;
      animation-delay: 50ms;
      animation-composition: add;
    }
    .atlas-picker-option:nth-child(1) {
      animation-name: example-tile-appear-right-down;
    }
    .atlas-picker-option:nth-child(2) {
      animation-name: example-tile-appear-0-down;
    }
    .atlas-picker-option:nth-child(3) {
      animation-name: example-tile-appear-left-down;
    }
    .atlas-picker-option:nth-child(4) {
      animation-name: example-tile-appear-right-0;
    }
    .atlas-picker-option:nth-child(6) {
      animation-name: example-tile-appear-left-0;
    }
    .atlas-picker-option:nth-child(7) {
      animation-name: example-tile-appear-right-up;
    }
    .atlas-picker-option:nth-child(8) {
      animation-name: example-tile-appear-0-up;
    }
    .atlas-picker-option:nth-child(9) {
      animation-name: example-tile-appear-left-up;
    }
  }
}

@each $leftright in (left, 0, right) {
  @each $updown in (up, 0, down) {
    @keyframes example-tile-appear-#{$leftright}-#{$updown} {
      $dy: 0;
      @if $updown == up {
        $dy: 30vw;
      } @else if $updown == down {
        $dy: -30vw;
      }
      $dx: 0;
      @if $leftright == left {
        $dx: 30vw;
      } @else if $leftright == right {
        $dx: -30vw;
      }
      0% {
        transform: translate($dx, $dy);
      }
      100% {
        transform: translate(0, 0);
      }
    }
  }
}
