@use "../sizes.scss";

$score-font-size: min(4vw, 5vh);

.screen.game-display {
  @include sizes.disable-select;

  display: flex;
  flex-direction: row;
  box-shadow: none;

  &.appear {
    animation-delay: 200ms;
    animation-duration: 600ms;
  }

  /* main container: grid */
  .main-grid {
    flex-grow: 1;
    overflow: hidden;
    position: relative;
    box-shadow: var(--screen-box-shadow);
  }

  .main-grid .grid-display {
    animation-name: main-grid-appear;
    animation-duration: 400ms;
    animation-delay: 200ms;
  }

  /* sidebar container: tile stack */
  .side-panel {
    width: sizes.$stack-width;
    padding-right: calc(sizes.$stack-margin-right + sizes.$inset-right);
    flex-grow: 0;
    flex-shrink: 0;
    background: var(--panel-bg-color);

    display: grid;
    grid-template-areas:
      "button button button button"
      "tile-stack tile-stack tile-stack tile-stack"
      ". tile-counter refresh-tiles ."
      ". undo redo ."
      ". score-display score-display .";
    grid-template-rows:
      calc(sizes.$button-top + 1.25 * sizes.$button-scale)
      5fr min-content 1fr min-content;
    grid-template-columns: calc(0.1 * sizes.$stack-width) 1fr 1fr calc(
        0.1 * sizes.$stack-width
      );
  }

  .tile-stack {
    grid-area: tile-stack;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  --refreshtiles-size: calc(#{sizes.$button-scale} / 4);

  .tile-counter,
  .game-button.refreshtiles,
  .game-button.undo,
  .game-button.redo {
    --button-scale: calc(0.5 * #{sizes.$button-scale});
    justify-self: flex-start;
    margin: calc(0.25 * var(--button-scale)) 0 calc(0.25 * var(--button-scale))
      calc(0.25 * var(--button-scale));
  }

  .tile-counter,
  .game-button.undo {
    justify-self: flex-end;
    margin: calc(0.25 * var(--button-scale)) calc(0.25 * var(--button-scale))
      calc(0.25 * var(--button-scale)) 0;
  }

  .tile-counter {
    grid-area: tile-counter;
    text-align: center;
    min-width: var(--button-scale);
    opacity: 1;
    transition: opacity 300ms;
  }

  .game-button.refreshtiles {
    grid-area: refresh-tiles;
    opacity: 1;
    transition: opacity 300ms;
  }

  &.no-more-tiles {
    .tile-counter,
    .game-button.refreshtiles {
      opacity: 0;
      pointer-events: none;
    }
  }

  .game-button.undo {
    grid-area: undo;
  }

  .game-button.redo {
    grid-area: redo;
  }

  .score-display {
    grid-area: score-display;
    align-self: flex-end;
  }

  .game-button.addtiles {
    position: absolute;
    top: calc(50% - 0.5 * sizes.$button-scale);
    left: calc(50% - 0.5 * sizes.$button-scale);
    display: none;
  }
  &.game-finished {
    @media screen and (orientation: landscape) {
      .side-panel {
        // set more-tiles-button height to 0
        grid-template-rows:
          calc(sizes.$button-top + 1.25 * sizes.$button-scale)
          5fr 0 min-content min-content;
      }
    }

    .tile-on-stack {
      pointer-events: none;
    }

    .game-button.addtiles {
      display: block;
      animation: game-button-appear 500ms;
    }
  }

  @media screen and (min-aspect-ratio: 5 / 3) {
    .side-panel {
      width: auto;
      grid-template-areas:
        ". tile-stack button button"
        ". tile-stack . ."
        ". tile-stack tile-counter ."
        ". tile-stack refresh-tiles ."
        ". tile-stack undo ."
        ". tile-stack redo ."
        ". tile-stack score-display .";
      grid-template-rows:
        calc(sizes.$button-top + 1.25 * sizes.$button-scale)
        5fr min-content 1fr min-content;
      grid-template-columns:
        calc(0.1 * sizes.$stack-width)
        1fr
        sizes.$button-scale
        calc(sizes.$button-right);
    }

    .tile-stack {
      align-self: center;
      margin-right: calc(0.15 * sizes.$button-scale);
    }

    .tile-on-stack {
      max-height: 25vh;
    }

    .tile-counter,
    .game-button.refreshtiles,
    .game-button.undo,
    .game-button.redo {
      --button-scale: calc(0.65 * #{sizes.$button-scale});
      justify-self: center;
      align-self: center;
      margin: calc(0.25 * var(--button-scale));
    }

    .tile-counter,
    .score-display .score p,
    .score-display .score p.high-score {
      font-size: calc(0.3 * sizes.$button-scale);
    }

    .score-display .score p:first-child {
      padding: 0.5em 0;
    }
  }
}

@keyframes main-grid-appear {
  0% {
    opacity: 0;
    scale: 0;
  }
  100% {
    opacity: 100;
    scale: 1;
  }
}

@keyframes game-button-appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

$dropout-outer-padding: calc(0.25 * sizes.$button-scale);
$dropout-inner-padding: calc(0.2 * sizes.$button-scale);
$dropout-outer-border-radius: calc(0.5 * sizes.$button-scale);

.dropout-menu {
  position: absolute;
  right: sizes.$button-right;
  top: sizes.$button-top;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  border-radius: $dropout-outer-border-radius;
  z-index: 10000;

  &.expanded {
    margin: calc(-1 * $dropout-outer-padding);

    background: var(--dropout-bg-color);
    box-shadow: var(--dropdown-box-shadow);

    .game-button.dropout {
      margin: 0;
      padding: $dropout-outer-padding $dropout-outer-padding 0 0;

      svg {
        rotate: 90deg;
      }
    }
  }

  .game-button.dropout {
    margin: calc(-0.25 * sizes.$button-scale);
    padding: calc(0.25 * sizes.$button-scale);
  }

  .game-button.dropout svg {
    transition: rotate 0.1s;
  }

  .items {
    display: none;
    margin: calc(-1 * (sizes.$button-scale)) calc(0.5 * $dropout-inner-padding)
      $dropout-outer-padding calc(0.5 * $dropout-inner-padding);
    grid-template-columns: auto auto auto auto auto auto;
  }

  .items .game-button {
    grid-row: 1;
    grid-column: span 2;
    margin: 0 calc(0.5 * $dropout-inner-padding) $dropout-inner-padding
      calc(0.5 * $dropout-inner-padding);

    transition: scale 0.1s;
  }

  .items .game-toggle {
    grid-column: span 3;
    width: calc(1.7 * sizes.$button-scale);
    margin: 0 0 calc(0.5 * $dropout-inner-padding) 0;
    padding: 0 calc(0.5 * $dropout-inner-padding);
  }

  .game-button + .game-toggle,
  .game-button + .game-toggle + .game-toggle {
    border-top: 1px solid var(--panel-bg-color);
    padding-top: $dropout-inner-padding;
  }

  .game-button.backtomenu .bg {
    background: var(--home-button-bg-color);
    fill: var(--home-button-fg-color);
  }

  &.expanded {
    .items {
      display: grid;
    }
  }

  .game-finished & {
    margin: calc(-1 * $dropout-outer-padding);

    .game-toggle,
    .game-threeway-toggle {
      display: none;
    }

    .game-button.dropout {
      display: none;
    }

    .items {
      display: flex;
      flex-direction: column;
      margin: $dropout-outer-padding;
      padding: 0;
      border-top: none;
    }

    .game-button {
      margin: 0 0 $dropout-inner-padding 0;
    }

    .game-button.setup {
      display: none;
    }

    .game-button + .game-button {
      margin-left: 0;
    }

    .game-button.undo,
    .game-button.redo {
      display: none;
    }
  }
}

.tile-stack {
  .grid-display {
    z-index: 1000;
  }
  .tile-outline {
    stroke: var(--main-bg-color);
  }
}

.tile-on-stack {
  z-index: 0;
  position: relative;
  aspect-ratio: 1 / 1;

  max-height: 18vh;
  max-width: 100%;

  cursor: grab;

  transition-property: scale;
  transition-duration: 100ms;
  svg {
    width: 100%;
    aspect-ratio: 1 / 1;
  }
  &.tile-dragging {
    cursor: grabbing;
  }
  &.tile-dragging,
  &.tile-drag-return {
    z-index: 100;
  }

  &.appear {
    animation-name: tile-on-stack-appear-anim;
    animation-duration: 0.2s;
    animation-timing-function: linear;
  }
}
@keyframes tile-on-stack-appear-anim {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.rotatable {
  position: relative;
  width: 100%;
  height: 100%;
  &.animated {
    transition: rotate 300ms ease;
  }
}
.rotatable-dragging.animated {
  transition: rotate 200ms;
}
.rotatable-drag-return.animated {
  z-index: 100;
  transition-property: translate, scale, rotate;
  transition-duration: 150ms;
}
.rotatable-drag-success.animated {
  transition-property: none;
}

.tile-counter {
  cursor: pointer;
  color: var(--tile-counter-text-color);

  span {
    display: block;
  }

  svg {
    display: block;
    margin-left: 0.5em;
    width: 1.5em;
    height: 1.5em;
    stroke: var(--tile-counter-text-color);
    stroke-width: 0.03em;
    vector-effect: non-scaling-stroke;
    fill: var(--panel-bg-color);
  }
}

.score-display .score {
  flex-grow: 1;
  margin: calc(0.25 * var(--button-scale)) 0;
  box-sizing: border-box;
  font-size: $score-font-size;

  p:first-child {
    padding: 4% 0 7% 0;
    border-radius: 1vw;
    border: 2px solid var(--score-display-fg-color);
    background: var(--score-display-bg-color);
    color: var(--score-display-fg-color);
    fill: var(--score-display-fg-color);
    font-size: 1em;
    opacity: 0.5;
    text-align: center;
    box-shadow: var(--score-box-shadow);
  }

  &.animate {
    p:first-child {
      animation-name: score-display-anim;
      animation-duration: 1000ms;
    }
  }

  p {
    margin: 0;
    padding: 0;
    line-height: 1.2em;
    transition:
      line-height 300ms,
      width 300ms;
  }

  p.high-score {
    font-size: calc(0.25 * var(--button-scale));
    color: var(--tile-counter-text-color);
    fill: var(--tile-counter-text-color);
    transition:
      opacity 300ms,
      height 300ms;
    padding-top: 0;
    height: 0px;
    opacity: 0;
    text-align: center;
  }

  .show-highscore & {
    p.high-score {
      padding-top: 0.1em;
      height: 1.2em;
      opacity: 1;
    }
  }

  .score-points svg {
    display: inline-block;
    height: 0.8em;
  }

  p.high-score svg {
    display: inline-block;
    vertical-align: -0.1em;
    height: 0.8em;
    padding-right: 0.2em;
  }
}
@keyframes score-display-anim {
  0% {
    opacity: 0.5;
    transform: scale(1);
  }
  50% {
    opacity: 1;
    transform: scale(1.1);
  }
  100% {
    opacity: 0.5;
    transform: scale(1);
  }
}

@media screen and (orientation: portrait) {
  .screen.game-display {
    flex-direction: column;

    .dropout-menu {
      // make buttons opaque
      --button-bg-color: var(--button-bg-color-on-main-bg);
      --button-bg-pressed-color: var(--button-bg-pressed-color-on-main-bg);
      --button-bg-hover-color: var(--button-bg-hover-color-on-main-bg);

      opacity: 1;
      transition: 100ms opacity;
    }

    &.dragging-tile .dropout-menu {
      opacity: 0;
    }

    &.game-finished .dropout-menu {
      background: var(--dropout-menu-bg-mask-color);

      .items {
        flex-direction: row;
        padding: 0;
        border-top: none;

        .game-button {
          margin: 0;
        }

        .game-button + .game-button {
          margin: 0 0 0 $dropout-inner-padding;
        }
      }
    }

    .side-panel {
      width: 100%;
      grid-template-areas:
        ". tile-stack . . . ."
        ". tile-stack tile-counter  undo score-display ."
        ". tile-stack refresh-tiles redo score-display ."
        ". tile-stack . . . ."
        ". . . . . .";
      grid-template-columns: sizes.$inset-left 5fr 1fr min-content min-content calc(
          sizes.$inset-right + 0.15 * var(--button-scale)
        );
      grid-template-rows:
        calc(0.05 * sizes.$stack-width) 1fr 1fr
        calc(0.15 * sizes.$stack-width)
        calc(sizes.$stack-margin-bottom + sizes.$inset-bottom);
    }

    &.game-finished {
      .side-panel {
        grid-template-columns: sizes.$inset-left 5fr min-content min-content min-content;
      }
    }

    .tile-stack {
      flex-direction: row;
    }

    .tile-counter,
    .game-button.refreshtiles,
    .game-button.undo,
    .game-button.redo {
      margin: calc(0.15 * var(--button-scale)) calc(0.25 * var(--button-scale))
        0 calc(0.25 * var(--button-scale));
      align-self: flex-start;
      justify-self: flex-end;
    }

    .tile-counter,
    .game-button.undo {
      margin: 0 calc(0.25 * var(--button-scale))
        calc(0.15 * var(--button-scale)) calc(0.25 * var(--button-scale));
      align-self: flex-end;
    }

    &.no-more-tiles {
      .game-button.undo,
      .game-button.redo {
        justify-self: flex-end;
      }
    }

    .tile-counter {
      display: block;
      padding: 0 0 0.4em 0;
      transition:
        margin 300ms,
        opacity 300ms;

      span {
        display: inline-block;
      }
    }

    .game-button.refreshtiles {
      transition:
        margin 300ms,
        opacity 300ms;
    }

    .score-display {
      align-self: center;
      margin: 0 calc(0.15 * var(--button-scale));
    }

    .score-display .score {
      margin: 0;
      border-radius: 2vw;
      font-size: 7vw;
      width: 15vw;
    }

    &.show-highscore {
      .score-display p {
        line-height: 1em;
      }
    }

    .game-button.addtiles {
      top: calc(50% - 0.5 * sizes.$button-scale);
      left: calc(45vw - 0.5 * sizes.$button-scale);
    }

    @media screen and (max-aspect-ratio: 3 / 5) {
      .side-panel {
        position: relative;
        grid-template-areas:
          ". tile-stack tile-stack   tile-stack    tile-stack tile-stack tile-stack tile-stack ."
          ". .          tile-counter refresh-tiles undo redo score-display . ."
          ". .          .            .             .    .    .             . .";
        grid-template-columns: sizes.$inset-left 1fr min-content min-content min-content min-content min-content 1fr sizes.$inset-right;
        grid-template-rows:
          1fr
          min-content
          calc(
            0.15 * sizes.$stack-width + sizes.$stack-margin-bottom +
              sizes.$inset-bottom
          );
        max-height: none;
      }

      &.game-finished .side-panel {
        position: relative;
        grid-template-areas:
          ". tile-stack tile-stack   tile-stack    tile-stack tile-stack tile-stack tile-stack ."
          ". .          tile-counter refresh-tiles undo redo score-display . ."
          ". .          .            .             .    .    .             . .";
        grid-template-columns: 0 1fr 0 0 min-content min-content min-content 1fr 0;
        grid-template-rows:
          1fr
          min-content
          calc(
            0.15 * sizes.$stack-width + sizes.$stack-margin-bottom +
              sizes.$inset-bottom
          );
        max-height: none;
      }

      .tile-counter,
      .game-button.refreshtiles,
      .game-button.undo,
      .game-button.redo {
        --button-scale: calc(0.65 * #{sizes.$button-scale});
      }

      .tile-stack {
        justify-self: center;
      }

      .tile-on-stack {
        max-width: 28vw;
      }

      &.game-finished .tile-stack {
        width: 100%;
      }

      .game-button.addtiles {
        left: calc(50vw - 0.5 * sizes.$button-scale);
      }

      .tile-counter,
      .game-button.refreshtiles,
      .game-button.undo,
      .game-button.redo {
        top: calc(-2 * var(--button-scale));
        margin: calc(0.15 * var(--button-scale))
          calc(0.25 * var(--button-scale)) 0 calc(0.25 * var(--button-scale));
        align-self: flex-end;
      }

      .tile-counter,
      .score-display .score,
      .score-display .score p.high-score {
        font-size: calc(0.3 * sizes.$button-scale);
      }

      .score-display {
        justify-self: center;
        align-self: flex-end;
      }
      .score-display .score {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: auto;
      }
      .score-display p {
        width: calc(1 * var(--button-scale));
        flex-grow: 1;
        line-height: 1.2em;
      }
      .score-display p.high-score {
        width: 0;
      }
      &.show-highscore {
        .score-display p {
          line-height: 1.2em;
        }
        .score-display p.high-score {
          padding: 0;
          height: auto;
          width: calc(0.75 * var(--button-scale));
          padding-bottom: 0.2em;
        }
      }
    }
  }

  .tile-on-stack {
    max-height: 100%;
    height: 100%;
    max-width: 25vw;
  }
}
