@use "../sizes.scss";

$score-font-size: min(4vw, 5vh);

.screen.game-display {
  @include sizes.disable-select;

  display: flex;
  flex-direction: row;
  box-shadow: none;

  &.appear {
    animation-delay: 200ms;
    animation-duration: 600ms;
  }

  /* general components */
  .game-button {
    margin: calc(0.25 * var(--button-scale));
  }

  .tile-counter,
  .game-button {
    opacity: 1;
    transition: opacity 300ms;
  }

  /* main container: grid */
  .main-grid {
    flex-grow: 1;
    overflow: hidden;
    position: relative;
    box-shadow: var(--screen-box-shadow);
  }

  .main-grid .grid-display {
    animation-name: main-grid-appear;
    animation-duration: 400ms;
    animation-delay: 200ms;
  }

  /* floating controls */
  .floating-controls {
    position: absolute;
    top: calc(var(--button-top) + 0.25 * sizes.$button-scale);
    left: var(--button-left);
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    opacity: 1;
    transition: 100ms opacity;

    // changed to flex when the controls are shown
    display: none;

    --button-scale: #{calc(0.5 * sizes.$button-scale)};

    .score-display {
      min-width: 3em;
      margin-bottom: calc(0.25 * sizes.$button-scale);
      font-size: calc(0.3 * sizes.$button-scale);

      // make opaque
      background: var(--main-bg-color);
      border-radius: 1vw;

      .score-box {
        width: 100%;
        height: calc(0.6 * sizes.$button-scale);
        box-shadow: var(--score-box-shadow), var(--button-box-shadow);
        opacity: 75%;
      }

      .high-score {
        font-size: 0.8em;
        background: var(--main-bg-color);
        border-radius: 1vw;
      }
    }

    .game-button {
      --button-bg-color: var(--button-bg-color-on-main-bg);
      --button-bg-pressed-color: var(--button-bg-pressed-color-on-main-bg);
      --button-bg-hover-color: var(--button-bg-hover-color-on-main-bg);
    }
  }

  &.dragging-tile .floating-controls {
    opacity: 0;
  }

  /* sidebar container with tile stack */
  .side-panel {
    width: var(--stack-width);
    box-sizing: content-box;
    padding-right: calc(var(--stack-margin-right) + var(--inset-right));
    flex-grow: 0;
    flex-shrink: 0;
    background: var(--panel-bg-color);

    --button-scale: #{calc(0.5 * sizes.$button-scale)};

    display: grid;
    grid-template-areas:
      "button button button button"
      "tile-stack tile-stack tile-stack tile-stack"
      ". tile-counter refreshtiles ."
      ". undo redo ."
      ". score-display score-display ."
      ". . . .";
    grid-template-rows:
      calc(var(--button-top) + 1.25 * sizes.$button-scale)
      5fr min-content 1fr min-content
      calc(0.1 * var(--stack-width) + var(--inset-bottom));
    grid-template-columns: calc(0.1 * var(--stack-width)) 1fr 1fr calc(
        0.1 * var(--stack-width)
      );

    .tile-stack {
      grid-area: tile-stack;
      flex-direction: column;
      justify-content: flex-end;
    }

    .tile-counter {
      grid-area: tile-counter;
      margin: calc(0.25 * var(--button-scale));
      align-self: center;
      justify-self: flex-end;

      span {
        min-width: var(--button-scale);
      }
    }

    .game-button.refreshtiles {
      grid-area: refreshtiles;
    }

    .game-button.undo {
      grid-area: undo;
      justify-self: flex-end;
    }

    .game-button.redo {
      grid-area: redo;
    }

    .score-display {
      grid-area: score-display;
      margin-top: #{calc(0.25 * sizes.$button-scale)};
      .score-box {
        padding: #{calc(0.25 * sizes.$button-scale)};
      }
    }

    .game-button.addtiles {
      position: absolute;
      top: calc(50% - 0.75 * sizes.$button-scale);
      left: calc(50% - 0.75 * sizes.$button-scale);
      --button-scale: #{sizes.$button-scale};
    }
  }

  &.no-more-tiles {
    .tile-counter,
    .game-button.refreshtiles {
      opacity: 0;
      pointer-events: none;
    }
  }

  .game-button.addtiles {
    display: none;
  }
  &.game-finished {
    .tile-on-stack {
      pointer-events: none;
    }

    .game-button.addtiles {
      display: block;
      animation: game-button-appear 500ms;
    }
  }
}

@keyframes main-grid-appear {
  0% {
    opacity: 0;
    scale: 0;
  }
  100% {
    opacity: 100;
    scale: 1;
  }
}

@keyframes game-button-appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* dropout menu */
$dropout-outer-padding: calc(0.25 * sizes.$button-scale);
$dropout-inner-padding: calc(0.2 * sizes.$button-scale);
$dropout-outer-border-radius: calc(0.5 * sizes.$button-scale);

.dropout-menu {
  position: absolute;
  right: var(--button-right);
  top: var(--button-top);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  border-radius: $dropout-outer-border-radius;
  z-index: 10000;

  &.expanded {
    margin: calc(-1 * $dropout-outer-padding);

    background: var(--dropout-bg-color);
    box-shadow: var(--dropdown-box-shadow);

    .game-button.dropout {
      margin: 0;
      padding: $dropout-outer-padding $dropout-outer-padding 0 0;

      svg {
        rotate: 90deg;
      }
    }
  }

  .game-button.dropout {
    margin: calc(-0.25 * sizes.$button-scale);
    padding: calc(0.25 * sizes.$button-scale);
  }

  .game-button.dropout svg {
    transition: rotate 0.1s;
  }

  .items {
    display: none;
    margin: calc(-1 * (sizes.$button-scale)) calc(0.5 * $dropout-inner-padding)
      $dropout-outer-padding calc(0.5 * $dropout-inner-padding);
    grid-template-columns: auto auto auto auto auto auto;
  }

  .items .game-button {
    grid-row: 1;
    grid-column: span 2;
    margin: 0 calc(0.5 * $dropout-inner-padding) $dropout-inner-padding
      calc(0.5 * $dropout-inner-padding);

    transition: scale 0.1s;
  }

  .items .game-toggle {
    grid-column: span 3;
    width: calc(1.7 * sizes.$button-scale);
    margin: 0 0 calc(0.5 * $dropout-inner-padding) 0;
    padding: 0 calc(0.5 * $dropout-inner-padding);
  }

  .game-button + .game-toggle,
  .game-button + .game-toggle + .game-toggle {
    border-top: 1px solid var(--panel-bg-color);
    padding-top: $dropout-inner-padding;
  }

  .game-button.backtomenu .bg {
    background: var(--home-button-bg-color);
    fill: var(--home-button-fg-color);
  }

  &.expanded {
    .items {
      display: grid;
    }
  }

  .game-finished & {
    margin: calc(-1 * $dropout-outer-padding);

    .game-toggle,
    .game-threeway-toggle {
      display: none;
    }

    .game-button.dropout {
      display: none;
    }

    .items {
      display: flex;
      flex-direction: column;
      margin: $dropout-outer-padding;
      padding: 0;
      border-top: none;
    }

    .game-button {
      margin: 0 0 $dropout-inner-padding 0;
    }

    .game-button.setup {
      display: none;
    }

    .game-button + .game-button {
      margin-left: 0;
    }
  }
}

/* tile stack */
.tile-stack {
  position: relative;
  display: flex;

  .grid-display {
    z-index: 1000;
  }
  .tile-outline {
    stroke: var(--main-bg-color);
  }
}

.tile-on-stack {
  z-index: 0;
  position: relative;
  aspect-ratio: 1 / 1;

  max-height: 18vh;
  max-width: 100%;

  cursor: grab;

  transition-property: scale;
  transition-duration: 100ms;
  svg {
    width: 100%;
    aspect-ratio: 1 / 1;
  }
  &.tile-dragging {
    cursor: grabbing;
  }
  &.tile-dragging,
  &.tile-drag-return {
    z-index: 100;
  }

  &.appear {
    animation-name: tile-on-stack-appear-anim;
    animation-duration: 0.2s;
    animation-timing-function: linear;
  }
}
@keyframes tile-on-stack-appear-anim {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.rotatable {
  position: relative;
  width: 100%;
  height: 100%;
  &.animated {
    transition: rotate 300ms ease;
  }
}
.rotatable-dragging.animated {
  transition: rotate 200ms;
}
.rotatable-drag-return.animated {
  z-index: 100;
  transition-property: translate, scale, rotate;
  transition-duration: 150ms;
}
.rotatable-drag-success.animated {
  transition-property: none;
}

/* tile counter */
.tile-counter {
  cursor: pointer;
  color: var(--tile-counter-text-color);
  text-align: center;
  font-size: calc(0.75 * var(--button-scale));

  span {
    display: block;
  }
}

/* score display with optional highscore */
.score-display {
  font-size: $score-font-size;

  p {
    font-size: 1em;
    margin: 0;
    padding: 0;
    line-height: 1em;
  }

  .score-box {
    border-radius: 1vw;
    box-sizing: border-box;
    border: 2px solid var(--score-display-fg-color);
    background: var(--score-display-bg-color);
    color: var(--score-display-fg-color);
    fill: var(--score-display-fg-color);
    opacity: 0.5;
    box-shadow: var(--score-box-shadow);
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;

    p {
      /* visually center text */
      margin-top: -0.15em;
    }

    svg {
      display: inline-block;
      height: 0.8em;
    }

    &.animate {
      animation-name: score-display-anim;
      animation-duration: 1000ms;
    }
  }

  .high-score {
    font-size: 0.5em;
    color: var(--tile-counter-text-color);
    fill: var(--tile-counter-text-color);
    transition:
      opacity 300ms,
      height 300ms;
    padding-top: 0;
    line-height: 1.5em;
    height: 0px;
    opacity: 0;
    text-align: center;

    svg {
      display: inline-block;
      vertical-align: -0.1em;
      height: 0.8em;
      padding-right: 0.2em;
    }
  }

  .show-highscore & {
    .high-score {
      height: 1.5em;
      opacity: 1;
    }
  }
}
@keyframes score-display-anim {
  0% {
    opacity: 0.5;
    transform: scale(1);
  }
  50% {
    opacity: 1;
    transform: scale(1.1);
  }
  100% {
    opacity: 0.5;
    transform: scale(1);
  }
}

/* portrait layout */
@media screen and (orientation: portrait) {
  .screen.game-display {
    flex-direction: column;

    .side-panel {
      width: 100%;
      padding-right: 0;
      padding-bottom: calc(var(--stack-margin-bottom) + var(--inset-bottom));

      grid-template-areas:
        ". tile-stack . . . ."
        ". tile-stack tile-counter refreshtiles score-display ."
        ". tile-stack undo redo score-display ."
        ". tile-stack . . . .";
      grid-template-columns:
        var(--inset-left)
        5fr min-content min-content min-content calc(
          var(--inset-right) + 0.15 * var(--button-scale)
        );
      grid-template-rows:
        calc(0.05 * var(--stack-width)) 1fr 1fr
        calc(0.15 * var(--stack-width));

      .tile-stack {
        flex-direction: row;
      }

      .tile-on-stack {
        max-height: calc(2 * sizes.$button-scale);
      }

      .tile-counter,
      .game-button.undo {
        justify-self: flex-end;
      }

      .tile-counter,
      .game-button.refreshtiles {
        align-self: flex-end;
      }

      .score-display {
        align-self: center;
        margin: 0 calc(0.25 * var(--button-scale));
        min-width: 3em;
      }
    }

    .floating-controls {
      top: var(--button-top);
      height: sizes.$button-scale;
      flex-direction: row;

      .score-display {
        height: calc(0.6 * sizes.$button-scale);
        margin-right: calc(0.25 * sizes.$button-scale);
        margin-bottom: 0;
      }
    }

    .dropout-menu {
      --button-bg-color: var(--button-bg-color-on-main-bg);
      --button-bg-pressed-color: var(--button-bg-pressed-color-on-main-bg);
      --button-bg-hover-color: var(--button-bg-hover-color-on-main-bg);

      opacity: 1;
      transition: 100ms opacity;
    }

    &.dragging-tile .dropout-menu {
      opacity: 0;
    }

    &.game-finished .dropout-menu {
      background: var(--dropout-menu-bg-mask-color);

      .items {
        flex-direction: row;
        padding: 0;
        border-top: none;

        .game-button {
          margin: 0;
        }

        .game-button + .game-button {
          margin: 0 0 0 $dropout-inner-padding;
        }
      }
    }

    .tile-on-stack {
      max-height: 100%;
      height: 100%;
      max-width: 25vw;
    }
  }
}

@media screen and (max-aspect-ratio: 3 / 5) {
  .screen.game-display {
    .floating-controls {
      display: flex;
    }

    .side-panel {
      grid-template-areas:
        ". tile-stack . ."
        ". tile-stack tile-counter ."
        ". tile-stack refreshtiles ."
        ". tile-stack . .";
      grid-template-columns: var(--inset-left) 1fr min-content calc(
          var(--inset-right) + 0.3 * var(--button-scale)
        );

      .game-button.undo,
      .game-button.redo,
      .score-display {
        display: none;
      }

      .tile-on-stack {
        max-width: calc((100vw - 5em) / 3);
      }

      .tile-counter {
        justify-self: center;
      }

      .game-button {
        justify-self: center;
      }

      .game-button.addtiles {
        left: calc(50vw - 0.75 * sizes.$button-scale);
      }
    }
  }
}

@media screen and (min-aspect-ratio: 5 / 3) {
  .screen.game-display {
    .floating-controls {
      display: flex;
    }

    .side-panel {
      grid-template-areas:
        "button button button button"
        "tile-stack tile-stack tile-stack tile-stack"
        ". tile-counter refreshtiles ."
        ". . . .";
      grid-template-rows:
        calc(var(--button-top) + 1.25 * sizes.$button-scale)
        7fr min-content
        1fr;

      .game-button.undo,
      .game-button.redo,
      .score-display {
        display: none;
      }

      .tile-on-stack {
        max-height: 20vh;
      }
    }
  }
}
