@use "../sizes.scss";

$score-font-size: min(4vw, 5vh);

.screen.game-display {
  display: grid;
  grid-template-columns: 1fr sizes.$stack-width calc(
      sizes.$stack-margin-right + sizes.$inset-right
    );
  grid-template-rows: 2fr min-content 2fr;
  grid-template-areas:
    "main-grid fill fill-end"
    "main-grid tile-stack fill-end"
    "main-grid counters fill-end";

  .main-grid {
    grid-area: main-grid;
  }

  .fill {
    grid-area: fill;
    background: var(--panel-bg-color);
  }

  .fill-end {
    grid-area: fill-end;
    background: var(--panel-bg-color);
  }

  .tile-stack {
    grid-area: tile-stack;
    position: relative;
    background: var(--panel-bg-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .tile-counter-and-score {
    grid-area: counters;
    background: var(--panel-bg-color);
    text-align: center;
    display: grid;
    grid-template-areas: "tile-counter refresh-tiles" "score-display score-display";
    grid-template-rows: min-content 1fr;
    grid-template-columns: 1fr 1fr;
  }

  @media screen and (min-aspect-ratio: 1 / 1) and (max-aspect-ratio: 4 / 3) {
    .tile-counter-and-score {
      padding-top: 2vw;
    }
  }

  --refreshtiles-size: calc(#{$score-font-size} / 2);
  --tile-counter-fontsize: calc(#{$score-font-size} / 2);

  .tile-counter {
    grid-area: tile-counter;
    justify-self: center;
    margin-left: 1vw;
    margin-top: calc(0.25 * var(--refreshtiles-size));
  }

  .game-button.refreshtiles {
    grid-area: refresh-tiles;
    justify-self: center;
    align-self: center;
    width: var(--refreshtiles-size);
    height: var(--refreshtiles-size);
    padding: calc(0.5 * var(--refreshtiles-size));
    margin-right: 1vw;
  }

  .score-display {
    grid-area: score-display;
    align-self: flex-end;
  }

  .game-button.addtiles {
    position: absolute;
    top: calc(50% - 0.5 * sizes.$button-scale);
    left: calc(50% - 0.5 * sizes.$button-scale);
    display: none;
  }
  &.game-finished {
    .game-button.addtiles {
      display: block;
    }

    .game-button {
      animation: game-button-appear 500ms;
    }
  }
}

@keyframes game-button-appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.dropout-menu {
  $dropout-outer-padding: calc(0.25 * sizes.$button-scale);
  $dropout-inner-padding: calc(0.2 * sizes.$button-scale);
  $dropout-outer-border-radius: calc(0.5 * sizes.$button-scale);

  position: absolute;
  right: sizes.$button-right;
  top: sizes.$button-top;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  border-radius: $dropout-outer-border-radius;
  z-index: 10000;

  &.expanded {
    margin: calc(-1 * $dropout-outer-padding);

    background: var(--dropout-bg-color);
    box-shadow: var(--dropdown-box-shadow);

    .game-button.dropout {
      margin: $dropout-outer-padding $dropout-outer-padding 0 0;

      svg {
        rotate: 90deg;
      }
    }
  }

  .game-button.dropout svg {
    transition: rotate 0.1s;
  }

  .items {
    display: none;
    margin: calc(-1 * (sizes.$button-scale)) calc(0.5 * $dropout-inner-padding)
      $dropout-outer-padding calc(0.5 * $dropout-inner-padding);
    grid-template-columns: auto auto auto auto auto auto;
  }

  .items .game-button {
    grid-row: 1;
    grid-column: span 2;
    margin: 0 calc(0.5 * $dropout-inner-padding) $dropout-inner-padding
      calc(0.5 * $dropout-inner-padding);

    transition: scale 0.1s;
  }

  .items .game-toggle {
    grid-column: span 3;
    width: calc(1.7 * sizes.$button-scale);
    margin: 0 0 calc(0.5 * $dropout-inner-padding) 0;
    padding: 0 calc(0.5 * $dropout-inner-padding);
  }

  .game-button + .game-toggle,
  .game-button + .game-toggle + .game-toggle {
    border-top: 1px solid var(--panel-bg-color);
    padding-top: $dropout-inner-padding;
  }

  .game-button.backtomenu {
    background: var(--home-button-bg-color);
    fill: var(--home-button-fg-color);
  }

  &.expanded {
    .items {
      display: grid;
    }
  }

  .game-finished & {
    margin: calc(-1 * $dropout-outer-padding);

    .game-toggle,
    .game-threeway-toggle {
      display: none;
    }

    .game-button.dropout {
      display: none;
    }

    .items {
      display: flex;
      flex-direction: column;
      margin: $dropout-outer-padding;
      padding: 0;
      border-top: none;
    }

    .game-button {
      margin: 0 0 $dropout-inner-padding 0;
    }

    .game-button.setup {
      display: none;
    }

    .game-button + .game-button {
      margin-left: 0;
    }
  }
}

.tile-stack {
  .grid-display {
    z-index: 1000;
  }
  .tile-outline {
    stroke: var(--main-bg-color);
  }
}

.tile-on-stack {
  z-index: 0;
  position: relative;
  aspect-ratio: 1 / 1;

  max-height: 18vh;
  max-width: 100%;

  cursor: grab;

  transition-property: scale;
  transition-duration: 100ms;
  svg {
    width: 100%;
    aspect-ratio: 1 / 1;
  }
  &.tile-dragging {
    cursor: grabbing;
  }
  &.tile-dragging,
  &.tile-drag-return {
    z-index: 100;
  }

  &.appear {
    animation-name: tile-on-stack-appear-anim;
    animation-duration: 0.2s;
    animation-timing-function: linear;
  }
}
@keyframes tile-on-stack-appear-anim {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.rotatable {
  position: relative;
  width: 100%;
  height: 100%;
  &.animated {
    transition: rotate 300ms ease;
  }
}
.rotatable-dragging.animated {
  transition: rotate 200ms;
}
.rotatable-drag-return.animated {
  z-index: 100;
  transition-property: translate, scale, rotate;
  transition-duration: 150ms;
}
.rotatable-drag-success.animated {
  transition-property: none;
}

.tile-counter {
  font-size: var(--tile-counter-fontsize);
  cursor: pointer;
  color: var(--tile-counter-text-color);

  span {
    display: inline-block;
  }

  svg {
    display: inline-block;
    vertical-align: middle;
    margin-left: 0.5em;
    width: 1.5em;
    height: 1.5em;
    stroke: var(--tile-counter-text-color);
    stroke-width: 0.03em;
    vector-effect: non-scaling-stroke;
    fill: var(--panel-bg-color);
  }
}

.score-display .score {
  flex-grow: 1;
  margin: 10% 10% 1.5vw 10%;
  box-sizing: border-box;
  font-size: $score-font-size;

  p:first-child {
    padding: 4% 0 7% 0;
    border-radius: 1vw;
    border: 3px solid var(--score-display-fg-color);
    background: var(--score-display-bg-color);
    color: var(--score-display-fg-color);
    fill: var(--score-display-fg-color);
    font-size: 1em;
    opacity: 0.5;
    text-align: center;
  }

  &.animate {
    p:first-child {
      animation-name: score-display-anim;
      animation-duration: 1000ms;
    }
  }

  p {
    margin: 0;
    padding: 0;
  }

  p.high-score {
    font-size: var(--tile-counter-fontsize);
    color: var(--tile-counter-text-color);
    fill: var(--tile-counter-text-color);
    transition:
      opacity 300ms,
      height 300ms;
    padding-top: 0;
    height: 0px;
    opacity: 0;
  }

  .show-highscore & {
    p.high-score {
      padding-top: 0.1em;
      height: 1.2em;
      opacity: 1;
    }
  }

  svg {
    display: inline-block;
    vertical-align: -0.1em;
    height: 0.8em;
    padding-right: 0.2em;
  }
}
@keyframes score-display-anim {
  0% {
    opacity: 0.5;
    transform: scale(1);
  }
  50% {
    opacity: 1;
    transform: scale(1.1);
  }
  100% {
    opacity: 0.5;
    transform: scale(1);
  }
}

@media screen and (orientation: portrait) {
  .screen.game-display {
    display: grid;
    grid-template-columns: 5vw 60vw 1fr;
    grid-template-rows: 1fr max(20vw, 40px) calc(
        sizes.$stack-margin-bottom + sizes.$inset-bottom
      );
    grid-template-areas:
      "main-grid main-grid main-grid"
      "fill tile-stack counters"
      "fill-end fill-end fill-end";

    .dropout-menu {
      background: var(--main-bg-color);
    }

    .tile-stack {
      flex-direction: row;
      justify-content: center;
    }

    $score-font-size: 7vw;
    --refreshtiles-size: calc(#{$score-font-size} / 2);
    --tile-counter-fontsize: calc(#{$score-font-size} / 2);

    .tile-counter-and-score {
      display: grid;
      grid-template-areas: "refresh-tiles score-display" "tile-counter score-display";
      grid-template-rows: 1fr min-content;
      grid-template-columns: 1fr max-content;
      padding: 2vw 2vw 3vw 0;
    }

    .tile-counter {
      align-self: flex-end;
      margin: 0;
      transition: margin 300ms;
    }

    .game-button.refreshtiles {
      align-self: center;
      margin: 0;
      transition: margin 300ms;
    }

    .score-display {
      align-self: center;
      padding-right: 15%;
    }

    .score-display .score {
      margin: 0;
      border-radius: 2vw;
      font-size: 7vw;
      width: 15vw;
    }

    &.show-highscore {
      .score-display {
        align-self: flex-end;
      }

      .game-button.refreshtiles {
        margin-bottom: 0.5em;
      }

      .score-display p {
        padding-top: 0;
        line-height: 1em;
      }

      .score-display p.high-score {
        padding-top: 0.2em;
        padding-bottom: 0.2em;
      }
    }

    .game-button.addtiles {
      top: calc(50% - 0.5 * sizes.$button-scale);
      left: calc(45vw - 0.5 * sizes.$button-scale);
    }
  }

  .tile-on-stack {
    max-height: 100%;
    height: 100%;
    max-width: 25vw;
  }
}
