@use "sass:color";
@use "../sizes.scss";

.screen.settings-display,
.screen.statistics-display,
.screen.about-display {
  width: 100%;
  height: 100%;
  display: grid;
  // compute left margin for stable centering with or without scrollbar
  --column-width: #{calc(
      min(25rem, 100vw - sizes.$button-left - sizes.$button-right)
    )};
  grid-template-columns:
    calc((100vw - var(--column-width)) / 2)
    var(--column-width)
    1fr;
  grid-template-rows:
    sizes.$button-top
    min-content min-content 1.2em;
  grid-template-areas: ". . ." ". navbar ." ". article ." ". . .";
  overflow-y: auto;

  nav {
    justify-self: center;
  }

  header {
    display: none;
    grid-area: header;
    padding: 0;
    font-weight: normal;
    font-size: 2rem;
    align-self: flex-end;
  }

  h2 {
    margin: 0.6rem 0;
    padding: 0;
    font-weight: normal;
    font-size: 2rem;
    align-self: flex-end;
  }

  article {
    grid-area: article;
    line-height: 1.5;

    h3 {
      margin: 1.2rem 0 0.6rem 0;
      padding: 0;
      font-weight: normal;
      font-size: 1.5rem;
      align-self: flex-end;
    }

    h4 {
      margin: 0.6rem 0 0.3rem 0;
      padding: 0;
      font-weight: normal;
      font-size: 1.2rem;
      align-self: flex-end;
    }

    h5 {
      margin: 0.6rem 0 0.3rem 0;
      padding: 0;
      font-size: 1rem;
      font-weight: normal;
    }

    a {
      color: var(--link-color);
      border-bottom: 1px solid;
      text-decoration: none;
    }

    a:active,
    a:hover {
      color: var(--link-hover-color);
    }

    a.internal {
      color: var(--text-color);
      border-bottom: none;
    }

    a.internal .icon {
      display: inline-block;
      width: 0.8em;
      height: 0.8em;
      vertical-align: middle;
      background: var(--button-bg-color);
      fill: var(--button-fg-color);
      box-shadow: var(--button-box-shadow);
      border-radius: 50%;
      padding: 0.4em;
      margin: 0 0.3em;
    }

    p {
      margin: 0.6em 0;
    }

    ul {
      margin: 0.6em 0;
      padding: 0 0 0 1.5em;
      text-indent: 0;
    }

    li {
      margin: 0;
      padding: 0;
      text-indent: 0;
    }

    .option {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin: 0.6em 0;
    }

    h5 + .option {
      margin-top: 0.3em;
    }

    .option.label-before {
      flex-direction: column;
      align-items: flex-start;
      padding-bottom: 0.2em;

      .label {
        padding-bottom: 0.2em;
      }

      .game-toggle {
        width: calc(1.8 * sizes.$button-scale);
      }
    }

    .option.label-before + .option.label-aside {
      padding-top: 1.2em;
    }

    .game-toggle {
      width: 100%;
    }

    .setting-row {
      width: 50%;
      margin-right: 0.5em;
    }

    p.version-line {
      margin-top: 2.4rem;
      color: var(--footer-version-color);
    }
  }
}

.screen.statistics-display {
  h3 {
    font-size: 1.2rem;
  }

  article {
    position: relative;

    $stats-column-width: 6em;
    table,
    th,
    td {
      font-weight: normal;
      border-spacing: 0;
      font-size: 0.9em;
    }
    table {
      max-width: 100%;
      width: 100%;
      table-layout: fixed;
      margin-bottom: 1.2em;
    }
    table th,
    table td {
      padding: 2px 2px;
      vertical-align: top;
    }
    table th.label,
    table td.label {
      padding-left: 8px;
      border-left: 8px var(--main-bg-color) solid;
    }
    table th:first-child,
    table td:first-child,
    table th.label:first-child,
    table td.label:first-child {
      padding-left: 8px;
      border: none;
    }
    thead th {
      text-align: center;
      width: $stats-column-width;
      max-width: $stats-column-width;
      vertical-align: bottom;
    }
    thead tr:last-child th,
    thead tr:last-child td {
      border-bottom: 1px solid var(--button-fg-color);
    }
    tbody th,
    tfoot th {
      text-align: left;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    tbody td,
    tfoot td {
      text-align: center;
      width: $stats-column-width;
      max-width: $stats-column-width;
    }
    tbody tr:nth-child(odd) th,
    tbody tr:nth-child(odd) td {
      background: var(--button-bg-color);
    }
    tfoot tr:first-child th,
    tfoot tr:first-child td {
      border-top: 1px solid var(--button-fg-color);
    }
  }
}
