@use "sass:color";
@use "../sizes.scss";

.screen.paint-display {
  @include sizes.disable-select;

  display: grid;
  grid-template-columns: 1fr sizes.$stack-width calc(
      sizes.$stack-margin-right + sizes.$inset-right
    );
  grid-template-rows: 1fr;
  grid-template-areas: "paint-grid color-stack fill-end";

  .paint-grid {
    grid-area: paint-grid;
  }

  .color-stack {
    grid-area: color-stack;
    background: var(--panel-bg-color);
  }

  .fill-end {
    grid-area: fill-end;
    background: var(--panel-bg-color);
  }
}

.paint-menu {
  @include sizes.disable-select;

  position: absolute;
  top: sizes.$button-top;
  right: sizes.$button-right;
}

$swatch-scale: min(
  calc((100vh - sizes.$button-top - sizes.$button-bottom) / 11),
  calc(sizes.$button-scale)
);

.color-stack {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  justify-content: flex-end;
  padding-bottom: sizes.$button-bottom;
  align-items: center;
}

.color-swatch-wrap {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.color-swatch {
  box-sizing: border-box;
  margin: calc(0.1 * $swatch-scale);
  width: $swatch-scale;
  height: $swatch-scale;
  border-radius: 100%;
  box-shadow: var(--button-box-shadow);
  cursor: grab;
}

.color-swatch-selected {
  border: calc(0.1 * $swatch-scale) solid var(--main-bg-color);
}

.color-swatch-remove {
  background: var(--main-bg-color);
  background: var(--button-bg-color);
  border: calc(0.1 * $swatch-scale) solid transparent;

  svg {
    width: calc(0.5 * $swatch-scale);
    height: calc(0.5 * $swatch-scale);
    margin: 15% 0 0 15%;
    fill: var(--button-fg-color);
  }
}
.color-swatch-remove.color-swatch-selected {
  background: var(--main-bg-color);
  svg {
    fill: var(--button-fg-selected-color);
  }
}

@media screen and (orientation: portrait) {
  $swatch-scale: calc((100vw - sizes.$inset-left - sizes.$inset-right) / 10);

  .screen.paint-display {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr max(20vw, 40px) calc(
        sizes.$stack-margin-bottom + sizes.$inset-bottom
      );
    grid-template-areas:
      "paint-grid"
      "color-stack"
      "fill-end";
  }

  .paint-menu {
    background: var(--main-bg-color);
    border-radius: 50%;
  }

  .color-stack {
    flex-direction: row;
    justify-content: center;
    padding-right: 0;
    padding-bottom: 0;
  }

  .color-swatch-wrap {
    width: auto;
    height: 100%;
  }

  .color-swatch {
    margin: calc(0.1 * $swatch-scale);
    width: $swatch-scale;
    height: $swatch-scale;
  }

  .color-swatch-selected {
    border: calc(0.1 * $swatch-scale) solid var(--swatch-selected-border-color);
  }

  .color-swatch-remove svg {
    width: calc(0.5 * $swatch-scale);
    height: calc(0.5 * $swatch-scale);
  }
}
