@use "../sizes.scss";

.small-buttons {
  --button-scale: calc(0.5 * #{sizes.$button-scale});
}

.game-button {
  @include sizes.disable-select;
  cursor: pointer;

  .bg {
    width: calc(0.5 * var(--button-scale));
    height: calc(0.5 * var(--button-scale));
    padding: calc(0.25 * var(--button-scale));
    border-radius: 100%;
    box-shadow: var(--button-box-shadow);

    transform: scale(1);
    transition-property: transform;
    transition-duration: 100ms;
    fill: var(--button-fg-color);
    background: var(--button-bg-color);
  }

  &.game-button-pressed .bg {
    background: var(--button-bg-pressed-color);
  }

  svg {
    width: 100%;
    aspect-ratio: 1 / 1;
  }

  &.disabled {
    cursor: default;
  }

  &.disabled svg {
    opacity: 0.3;
  }

  @media (hover) {
    &:hover .bg {
      background: var(--button-bg-hover-color);
    }
    &.disabled:hover .bg {
      background: var(--button-bg-color);
    }
  }

  &.addtiles .bg {
    width: calc(0.6 * var(--button-scale));
    padding-left: calc(0.2 * var(--button-scale));
    padding-right: calc(0.2 * var(--button-scale));

    svg {
      aspect-ratio: auto;
      padding-top: 5%;
    }
  }
}

.button-row {
  @include sizes.disable-select;
  position: absolute;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  $clickable-margin: calc(0.25 * var(--button-scale));
  .game-button {
    padding: $clickable-margin;
  }

  &.top {
    top: calc(var(--button-top) - $clickable-margin);
  }
  &.right {
    right: calc(var(--button-right) - $clickable-margin);
  }
  &.bottom {
    bottom: calc(var(--button-bottom) - $clickable-margin);
  }
  &.left {
    left: calc(var(--button-left) - $clickable-margin);
  }
}
