@use "../sizes.scss";

.game-button {
  width: calc(0.5 * sizes.$button-scale);
  height: calc(0.5 * sizes.$button-scale);
  padding: calc(0.25 * sizes.$button-scale);
  cursor: pointer;
  border-radius: 100%;
  box-shadow: var(--button-box-shadow);

  transform: scale(1);
  transition-property: transform;
  transition-duration: 100ms;
  fill: var(--button-fg-color);
  background: var(--button-bg-color);

  &.game-button-pressed {
    background: var(--button-bg-pressed-color);
  }

  svg {
    width: 100%;
    aspect-ratio: 1 / 1;
  }

  @media (hover) {
    &:hover {
      background: var(--button-bg-hover-color);
    }
  }

  &.addtiles {
    width: calc(0.6 * sizes.$button-scale);
    padding-left: calc(0.2 * sizes.$button-scale);
    padding-right: calc(0.2 * sizes.$button-scale);

    svg {
      aspect-ratio: auto;
      padding-top: 5%;
    }
  }
}

.button-row {
  position: absolute;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  $button-margin: calc(0.25 * sizes.$button-scale);
  &.top {
    top: sizes.$button-top;
    .game-button {
      margin-bottom: $button-margin;
    }
  }
  &.right {
    right: sizes.$button-right;
    .game-button {
      margin-left: $button-margin;
    }
  }
  &.bottom {
    bottom: sizes.$button-bottom;
    .game-button {
      margin-top: $button-margin;
    }
  }
  &.left {
    left: sizes.$button-left;
    .game-button {
      margin-right: $button-margin;
    }
  }
}
