@use "../sizes.scss";

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 18px calc(18px + sizes.$inset-right) calc(18px + sizes.$inset-bottom)
    calc(18px + sizes.$inset-left);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  color: var(--footer-version-color);
  font-size: 1rem;

  p {
    color: var(--footer-version-color);
    margin: 0;
    padding: 0;
  }

  p.copyright,
  a {
    color: var(--footer-copyright-color);
  }

  @media screen and (min-aspect-ratio: 5 / 3) {
    p br {
      display: none;
    }
  }

  a {
    text-decoration: none;
    border-bottom: 1px solid;
  }

  a:active,
  a:hover {
    color: var(--footer-link-hover-color);
  }
}
