@use "../sizes.scss";

.navbar {
  ul,
  li {
    list-style: none;
    text-indent: 0;
    padding: 0;
    margin: 0;
  }

  ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: calc(2.5 * var(--navbar-size));
    column-gap: calc(0.25 * var(--navbar-size));
    padding: 0 calc(0.25 * var(--navbar-size));
    border-radius: calc(1.25 * var(--navbar-size));
    background: var(--navbar-bg-color);
    box-shadow: var(--button-box-shadow);
  }

  .game-button {
    display: flex;
    flex-direction: row;
    align-items: center;

    width: auto;
    height: calc(2 * var(--navbar-size));
    margin: 0;
    padding: 0 calc(0.5 * var(--navbar-size));
    border-radius: var(--navbar-size);

    box-shadow: none;
    background: transparent;

    svg {
      width: var(--navbar-size);
      height: var(--navbar-size);
    }

    @media (hover) {
      &:hover {
        background: var(--navbar-bg-hover-color);
      }
    }

    span {
      margin: 0 calc(0.25 * var(--navbar-size)) calc(0.15 * var(--navbar-size))
        calc(0.35 * var(--navbar-size));
    }
  }

  .active .game-button {
    background: var(--navbar-bg-active-color);
  }
}

.main-navbar {
  position: fixed;
  width: 100%;
  bottom: sizes.$main-navbar-bottom;
  display: flex;
  flex-direction: row;
  justify-content: center;
  z-index: 100;

  --navbar-size: calc(#{sizes.$main-navbar-height} / 2.5);
}

.small-navbar {
  grid-area: navbar;
  max-width: max-content;
  font-size: 0.9rem;
  --navbar-size: 0.9rem;
}
