@use "../sizes.scss";

.navbar {
  @include sizes.disable-select;

  ul,
  li {
    list-style: none;
    text-indent: 0;
    padding: 0;
    margin: 0;
  }

  ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 90%;
    min-height: calc(2.5 * var(--navbar-size));
    padding: 0 calc(0.125 * var(--navbar-size));
    border-radius: calc(1.25 * var(--navbar-size));
    background: var(--navbar-bg-color);
    box-shadow: var(--button-box-shadow);
    word-break: break-word;
    overflow-wrap: break-word;
  }

  .game-button {
    padding: 0 calc(0.125 * var(--navbar-size));

    .bg {
      display: flex;
      flex-direction: row;
      align-items: center;

      width: auto;
      height: calc(2 * var(--navbar-size));
      margin: 0;
      padding: 0 calc(0.5 * var(--navbar-size));
      border-radius: var(--navbar-size);

      box-shadow: none;
      background: transparent;
    }

    svg {
      flex-grow: 0;
      flex-shrink: 0;
      width: var(--navbar-size);
      height: var(--navbar-size);
    }

    @media (hover) {
      &:hover .bg {
        background: var(--navbar-bg-hover-color);
      }
    }

    span {
      margin: 0 calc(0.25 * var(--navbar-size)) calc(0.15 * var(--navbar-size))
        calc(0.35 * var(--navbar-size));
    }
  }

  .active .game-button .bg {
    background: var(--navbar-bg-active-color);
  }

  &.appear {
    animation-name: navbar-animate-appear;
    animation-duration: 200ms;
    animation-fill-mode: both;
  }

  &.disappear {
    animation-name: navbar-animate-appear;
    animation-duration: 200ms;
    animation-direction: reverse;
    animation-fill-mode: both;
  }

  &.hidden {
    top: -10000px;
  }
}

.main-navbar {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: sizes.$main-navbar-bottom;
  display: flex;
  flex-direction: row;
  justify-content: center;
  z-index: 100;

  --navbar-size: calc(#{sizes.$main-navbar-height} / 2.5);

  .game-button {
    padding: calc(0.25 * var(--navbar-size)) calc(0.125 * var(--navbar-size));
  }
}

.small-navbar {
  position: absolute;
  width: 100%;
  top: sizes.$button-top;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  z-index: 100;
  font-size: 0.9rem;
  --navbar-size: 0.9rem;

  .game-button {
    padding: calc(0.5 * var(--navbar-size)) calc(0.125 * var(--navbar-size));

    .bg {
      height: auto;
      min-height: calc(2 * var(--navbar-size));
    }
  }
}

@keyframes navbar-animate-appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}
