@use "../sizes.scss";

.screen {
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  height: 100%;
  width: 100%;
  max-height: 100%;
  max-width: 100%;
  box-sizing: border-box;
  box-shadow: var(--screen-box-shadow);
  background: var(--main-bg-color);
  display: flex;
  flex-direction: column;

  transition: background-color 50ms;

  &.appear {
    animation-name: screen-animate-appear;
    animation-delay: 100ms;
    animation-duration: 500ms;
    animation-fill-mode: backwards;
  }

  &.disappear {
    animation-name: screen-animate-disappear;
    animation-delay: 0;
    animation-duration: 400ms;
    animation-fill-mode: forwards;
  }
}

.carrousel {
  .slider {
    position: absolute;
    height: 100%;
    width: 100%;
    max-height: 100%;
    max-width: 100%;
    overflow: visible;
  }

  .settings-navbar-sticky {
    position: absolute;
    top: sizes.$button-top;

    .small-navbar {
      position: sticky;
      width: 100vw;
      top: 0;
    }
  }

  .screen {
    position: absolute;
    box-shadow: none;
    background: transparent;
  }
}

.screen.with-navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: sizes.$main-navbar-top;
}

@keyframes screen-animate-appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}
@keyframes screen-animate-disappear {
  0% {
    opacity: 100;
  }
  100% {
    opacity: 0;
  }
}
