body {
  font-family: sans-serif;
}
svg {
  left: 0;
  top: 0;
  width: 90vw;
  height: 90vh;
}
svg * {
  vector-effect: non-scaling-stroke;
  font-size: 1px;
}
svg polygon {
  opacity: 0.5;
}
svg .main {
  color: #000;
  stroke: #000;
  stroke-width: 1px;
}
svg .centroids {
  color: #f00;
  fill: #f00;
}
svg .dual {
  color: #f00;
  stroke: #f00;
  stroke-width: 1px;
}
svg .tri {
  color: #00f;
  stroke: #00f;
  stroke-width: 1px;
}
svg .vertex-numbers {
  fill: #f00;
}
svg .edge-numbers {
  fill: #00f;
}
svg .edges {
  color: #f00;
  stroke: #f00;
  stroke-width: 1px;
}
svg .labels {
  fill: #f00;
}
svg .grid {
  color: #000;
  stroke: #000;
  stroke-width: 5px;
}
svg .points {
  fill: #f00;
}

.hide-main {
  svg .main {
    display: none;
  }
}
.hide-centroids {
  svg .centroids {
    display: none;
  }
}
.hide-dual {
  svg .dual {
    display: none;
  }
}
.hide-tri {
  svg .tri {
    display: none;
  }
}
.hide-vertex-numbers {
  svg .vertex-numbers {
    display: none;
  }
}
.hide-edge-numbers {
  svg .edge-numbers {
    display: none;
  }
}

.controls {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  background: #eee;
  padding: 5px 0;
  width: 100vw;
  width: 100dvw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
}
.controls label {
  display: block;
  margin: 2px 5px;
  white-space: nowrap;
}
.controls .title-query {
  flex-grow: 1;
  min-width: 100px;
  text-align: right;
}
.controls .title-query input {
  width: 100%;
  max-width: 100px;
  box-sizing: border-box;
}
